{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    <style>
        .view-parent-object::after {
            content: " ⤴️";
        }

        .view-related-objects::after {
            content: " 🔎";
        }
        .long-name-filter li {
            list-style-type: circle !important;
            list-style-position: inside !important;
        }
        .long-name-filter a {
            display: inline !important;
            margin-left: -0.5em;
        }
    </style>
{% endblock %}

{% block messages %}
    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
        {# Remove mark-safe from tags since that's for controlling template behavior #}
                {% with message.tags|reject:"mark-safe"|join:" " as cleaned_tags %}
                    <li {% if cleaned_tags %} class="{{ cleaned_tags }}">{% endif %}
                    {% if "marked-safe" in message.tags %}
                        {{ message|safe|capfirst }}
                    {% else %}
                        {{ message|capfirst }}
                    {% endif %}
                    </li>
                {% endwith %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}
