{% extends 'admin/index.html' %}

{% load static i18n %}

{% block sidebar %}
    <div id="content-related">
        <div class="module" id="custom-actions">
            <h2>Site Operations</h2>
            <ul>
                <li><a href="{% url 'admin:bulk-import' %}">Bulk Import Items</a></li>
                <li><a href="{% url 'admin:celery-review' %}">Importer Progress</a></li>
                <li><a href="{% url 'admin:site-report' %}">Site Report</a></li>
                <li><a href="{% url 'admin:retired-site-report' %}">Retired Site Report</a></li>
                <li><a href="{% url 'admin:project-level-export' %}">Project Level Export</a></li>
                {% if user.is_superuser %}
                    {% if maintenance_mode %}
                        <li><a href="{% url 'maintenance_mode_off' %}">Disable Maintenance Mode</a></li>
                    {% else %}
                        <li><a href="{% url 'maintenance_mode_on' %}">Enable Maintenance Mode</a></li>
                    {% endif %}
                    {% if maintenance_mode_frontend_available %}
                        <li><a href="{% url 'maintenance_mode_frontend_unavailable' %}">Disable Front-end During Maintenance Mode</a></li>
                    {% else %}
                        <li><a href="{% url 'maintenance_mode_frontend_available' %}">Enable Front-end During Maintenance Mode</a></li>
                    {% endif %}
                    <li><a href="{% url 'admin:clear-cache' %}">Clear Caches</a></li>
                    <li><a href="{% url 'admin:bulk-change' %}">Bulk Change Status of Assets</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="module" id="recent-actions-module">
            <h2>{% trans 'Recent actions' %}</h2>
            <h3>{% trans 'My actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans 'None available' %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                                {{ entry.object_repr }}
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                            <br>
                            {% if entry.content_type %}
                                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                            {% else %}
                                <span class="mini quiet">{% trans 'Unknown content' %}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="module" id="version-module">
            <h2>Application Version</h2>
            <p><small>{{ APPLICATION_VERSION }}</small></p>
        </div>
    </div>
{% endblock sidebar%}
