[run]
branch = true
include =
    concordia/*
    importer/*
    exporter/*
 omit =
    */migrations/*
    */tests/*
    concordia/settings*

[report]
include =
    concordia/*
    importer/*
    exporter/*
omit =
    */migrations/*
    */tests/*
    concordia/settings*
