[run]
branch = true
include =
    concordia/*
    importer/*
    exporter/*
omit =
    */migrations/*
    */tests/*
    */settings*.py

[report]
include =
    concordia/*
    importer/*
    exporter/*
omit =
    */migrations/*
    */tests/*
    */settings*.py
