[run]
dynamic_context = test_function
branch = true
include =
    concordia/*
    importer/*
    exporter/*
    configuration/*
omit =
    */migrations/*
    */tests/*
    */settings*.py
    */urls.py
    */static/*

[report]
include =
    concordia/*
    importer/*
    exporter/*
    configuration/*
omit =
    */migrations/*
    */tests/*
    */settings*.py
    */static/*
    concordia/api/*
