bin/
target/
local/
build/
.project
.classpath
.settings/
*.pyc
buildstatus.log
deploystatus.log
.metadata/
artifacts/
/.*
!.gitignore
!.dockerignore
!.editorconfig
.DS_Store
docs/build
.venv
*.sqlite3
/static/
*.egg-info/
/temp/
/emails/
/logs/*
docs/_build
docs/modules
dist/
profile_pics/
vendor/
mss*
*.swp
env/
