bin/
target/
local/
build/
.project
.classpath
.settings/
*.pyc
buildstatus.log
deploystatus.log
.metadata/
artifacts/
/.*
!.gitignore
!.dockerignore
.DS_Store
docs/build
env.ini
.venv
*.sqlite3
/static/
*.egg-info/
/temp/
/emails/
/logs/*
env-dev.ini
