bin/
target/
local/
build/
.project
.classpath
.settings/
*.pyc
buildstatus.log
deploystatus.log
.metadata/
artifacts/
/.*
!.gitignore
!.dockerignore
.DS_Store
docs/build
env.ini
.venv
temp
logs/*
*.sqlite3
/static/
concordia.egg-info/
