exclude: '.*/vendor/.*'
default_language_version:
    python: python3.12
repos:
    - repo: https://github.com/adamchainz/django-upgrade
      rev: 1.15.0
      hooks:
          - id: django-upgrade
            args: [--target-version, '4.2']
    - repo: https://github.com/charliermarsh/ruff-pre-commit
      rev: v0.1.0
      hooks:
          - id: ruff
            args: [--fix, --exit-non-zero-on-fix]
    - repo: https://github.com/rtts/djhtml
      rev: '3.0.6'
      hooks:
          - id: djhtml
    - repo: https://github.com/ambv/black
      rev: 24.4.2
      hooks:
          - id: black
            language_version: python3.12
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: check-added-large-files
            args: ['--maxkb=256']
          - id: check-ast
          - id: check-byte-order-marker
          - id: check-case-conflict
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-json
            exclude: fixtures/.*
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-xml
          - id: check-yaml
            # CloudFormation templates rely on macros which will fail a simple
            # YAML load, which is why we have cfn-python-lint enabled below:
            exclude: cloudformation/.*
          - id: debug-statements
          - id: detect-aws-credentials
            args: ['--allow-missing-credentials']
          - id: detect-private-key
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: ['--fix=lf']
          - id: pretty-format-json
            args: ['--autofix', '--no-sort-keys', '--indent=4']
            exclude: fixtures/.*
          - id: trailing-whitespace
    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v3.0.3
      hooks:
          - id: prettier
            files: \.(css|less|scss|ts|tsx|graphql|gql|json|js|jsx|md|yaml|yml)$
            exclude: "pylenium.json"
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: v8.56.0
      hooks:
          - id: eslint
            additional_dependencies:
                - eslint-plugin-prettier@^4.2.1
                - eslint-plugin-unicorn@^50.0.1
                - eslint@^8.56.0
                - prettier@^2.7.1
                - eslint-config-prettier@^8.10.0
    - repo: https://github.com/awebdeveloper/pre-commit-stylelint
      rev: 0.0.2
      hooks:
          - id: stylelint
            additional_dependencies:
                - 'stylelint@^16.2.0'
                - 'stylelint-config-recommended@^14.0.0'
                - 'stylelint-value-no-unknown-custom-properties@^6.0.1'
                - 'stylelint-config-standard-scss@^13.0.0'
    - repo: https://github.com/aws-cloudformation/cfn-python-lint
      rev: v0.82.2
      hooks:
          - id: cfn-python-lint
            files: cloudformation/.*\.(json|yml|yaml)$
    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.6
      hooks:
          - id: bandit
    - repo: local
      hooks:
        - id: readme-symbol-check
          name: Ensure top-level symbols are documented in README
          entry: tools/readme_symbol_check.py
          language: system
          types: [python]
