version: '3.6'
services:
    elasticsearch:
        restart: unless-stopped
        image: elasticsearch:6.7.0
        ports:
            - 9200:9200

    redis:
        restart: unless-stopped
        image: redis:latest
        hostname: redis
        ports:
            - 63791:6379

    db:
        restart: unless-stopped
        image: postgres
        environment:
            POSTGRES_PASSWORD: ${POSTGRESQL_PW}
            POSTGRES_USER: concordia
            POSTGRES_MULTIPLE_DATABASES: test_concordia
        ports:
            - 54323:5432
        volumes:
            - ./postgresql:/docker-entrypoint-initdb.d
            - db_volume:/var/lib/postgresl/data/

    app:
        restart: unless-stopped
        build: .
        environment: &django-environment
            WAIT_HOSTS: db:5432, redis:6379
            POSTGRESQL_HOST: db
            POSTGRESQL_PW: ${POSTGRESQL_PW}
            CONCORDIA_ENVIRONMENT: development
            DJANGO_SETTINGS_MODULE: ${DJANGO_SETTINGS_MODULE:-concordia.settings_docker}
            DEBUG: ${DEBUG:-}
            REDIS_ADDRESS: redis
            REDIS_PORT: 6379
        depends_on:
            - redis
            - db
        volumes:
            - .:/app
            - images_volume:/concordia_images
        links:
            - redis
        ports:
            - 80:80

    importer:
        restart: unless-stopped
        build:
            context: .
            dockerfile: importer/Dockerfile
        environment: *django-environment
        depends_on:
            - redis
            - db
        links:
            - redis
            - db
        volumes:
            - images_volume:/concordia_images

    celerybeat:
        restart: unless-stopped
        build:
            context: .
            dockerfile: celerybeat/Dockerfile
        environment: *django-environment
        depends_on:
            - redis
            - db
        links:
            - redis

volumes:
    db_volume:
    images_volume:
