### Before running any Compose services, make sure you have an .env file 
# inside your current folder and that it has been populated with the following content:
#   GRAFANA_ADMIN_PW=<grafana-admin-pw>
#   CONCORDIA_ADMIN_PW=<concordia-admin-pw>
#   POSTGRESQL_PW=<postgres-pw>

### Start Docker containers with the following command :
  #  sudo docker-compose up 

### Create django admin user and assign the grafana admin password.
#  with docker-compose running, in a separate terminal window, enter the following commands:
#  
#  sudo docker exec -it concordia_app_1 bash -c "./migrate_and_user.sh"
#  sudo docker exec -it concordia_grafana bash -c "./setup.sh/grafana_post_run.sh"

version: '3.6'
services:
  db:
    image: postgres
    env_file: ./.env
    environment:
      POSTGRES_PASSWORD: ${POSTGRESQL_PW}
      POSTGRES_USER: concordia
    ports:
      - 54321:5432
    volumes:
      - ./postgresql:/docker-entrypoint-initdb.d
      - db_volume:/var/lib/postgresl/data/
    environment:
        - POSTGRES_MULTIPLE_DATABASES=concordia,sentry
    #healthcheck:
      #test: ["CMD-SHELL", "pg_isready -U postgres"]
      #interval: 10s
      #timeout: 5s
      #retries: 5
  
  rabbit:
    hostname: rabbit
    image: rabbitmq:latest
    ports:
      - 5672:5672
      - 15672:15672
  
  app:
    env_file: ./.env
    build: .
    environment:
      # The concordia app needs to wait for the to completely start. Use docker-compose-wait
      # as defined at https://github.com/ufoscout/docker-compose-wait
      WAIT_HOSTS: db:5432
    volumes:
      - .:/app
      - images_volume:/concordia_images
    links:
      - rabbit
    ports:
      - 80:80
    depends_on:
      - db
  
  importer:
    build:
       context: .
       dockerfile: importer/Dockerfile
    depends_on:
      - rabbit
    volumes:
      - images_volume:/concordia_images

  prometheus:
    image: prom/prometheus:latest
    container_name: concordia_prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention=200h'
      - '--web.enable-lifecycle'
    expose:
      - 9090
    ports:
      - 9090:9090

  node-exporter:
    image: prom/node-exporter:latest
    container_name: concordia_node_exporter
    restart: unless-stopped
    expose:
      - 9100
    ports:
      - 9100:9100

  grafana:
    env_file: ./.env
    restart: always
    image: grafana/grafana:latest
    container_name: concordia_grafana
    volumes:
      - grafana_data:/var/lib/grafana
      - ./grafana/datasources:/etc/grafana/datasources
      - ./grafana/dashboards:/etc/grafana/dashboards
      - ./grafana/setup.sh:/setup.sh
    expose:
      - 3000
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PW}
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=smtp.gmail.com:587
      - GF_SMTP_USER=myadrress@gmail.com
      - GF_SMTP_PASSWORD=mypassword
      - GF_SMTP_FROM_ADDRESS=myaddress@gmail.com

  alertmanager:
    build: ./alertmanager
    command:
      - '-config.file=/alertmanager.yml'

  elk:
    image: sebp/elk
    ports:
      - "5601:5601"
      - "9200:9200"
      - "5044:5044"

volumes:
  db_volume:
  images_volume:
  grafana_data: {}
  prometheus_data: {}
