[django]
# ENV var: DJANGO_ADMIN_SITE_HEADER
ADMIN_SITE_HEADER = Concordia Admin

# ENV var: DJANGO_ADMIN_SITE_TITLE
ADMIN_SITE_TITLE = Concordia

# ENV var: DJANGO_DB_ENGINE
DB_ENGINE = django.db.backends.postgresql_psycopg2

# ENV var: DJANGO_DB_HOST
DB_HOST = db

# ENV var: DJANGO_DB_NAME
DB_NAME = concordia

# ENV var: DJANGO_DB_PASSWORD
DB_PASSWORD = concordia

# ENV var: DJANGO_DB_PORT
DB_PORT = 5432

# ENV var: DJANGO_DB_USER
DB_USER = concordia

# ENV var: DJANGO_SECRET_KEY
SECRET_KEY = super-secret-key


[celery]
# ENV var: CELERY_BROKER_URL
BROKER_URL = pyamqp://guest@rabbit//

# ENV var: CELERY_RESULT_BACKEND
RESULT_BACKEND = rpc://


[transcribr]
# ENV var: TRANSCRIBR_NETLOC
NETLOC = http://0.0.0.0:8000


[djrf]
# ENV var: DJRF_PAGE_SIZE
PAGE_SIZE = 10


[importer]
# ENV var: IMPORTER_BASE_URL
BASE_URL = 

# ENV var: IMPORTER_IMAGES_FOLDER
IMAGES_FOLDER = 

# ENV var: IMPORTER_ITEM_COUNT
ITEM_COUNT = 

# ENV var: IMPORTER_S3_BUCKET_NAME
S3_BUCKET_NAME = 

# ENV var: IMPORTER_USE_DEV_SERVER
USE_DEV_SERVER = 0
