[django]
# ENV var: DJANGO_DB_ENGINE
DB_ENGINE = django.db.backends.postgresql_psycopg2

# ENV var: DJANGO_DB_HOST
DB_HOST = db

# ENV var: DJANGO_DB_NAME
DB_NAME = concordia

# ENV var: DJANGO_DB_PASSWORD
DB_PASSWORD = concordia

# ENV var: DJANGO_DB_PORT
DB_PORT = 5432

# ENV var: DJANGO_DB_USER
DB_USER = concordia

# ENV var: DJANGO_SECRET_KEY
SECRET_KEY = super-secret-key


[importer]
BASE_URL=https://www.loc.gov/collections/clara-barton-papers

ITEM_COUNT=933

IMAGES_FOLDER=clara-barton-papers
S3_BUCKET_NAME=clara-barton-papers
S3_BUCKET_NAME=clara-barton-papers

[celery]
BROKER_URL = pyamqp://rabbit@rabbit//

RESULT_BACKEND = rpc://


[transcribr]
NETLOC = 0.0.0.0:80
