[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==23.0.0"
celery = { extras = ["redis"], version = "==5.4.0" }
requests = "==2.32.4"
django-tinymce = "==4.1.0"
whitenoise = "==6.9.0"
openpyxl = "==3.1.5"
markdown = "==3.10"
django-bootstrap5 = "==25.2"
django-robots = "==6.1"
setuptools-scm = "==9.2.2"
django-ratelimit = "==4.1.0"
pylibmc = "==1.6.3"
django-celery-beat = "==2.8.1"
kombu = "==5.5.4"
django-flags = "==5.0.14"
sentry-sdk = "==2.32.0"
channels = { extras = ["daphne"], version = "==4.2.2" }
channels-redis = "==4.2.1"
more-itertools = "==10.7.0"
nh3 = "==0.2.21"
django-admin-multiple-choice-list-filter = "==0.1.1"
django-npm = "==1.0.1"
pymemcache = "==4.0.0"
black = "==25.1.0"
weasyprint = "==66.0"
tesseract = "==0.1.3"
pytesseract = "==0.3.13"
django-redis = "==5.4.0"
twisted = { extras = ["http2", "tls"], version = "==25.5.0" }
hiredis = "==3.0.0"
pyasn1 = "==0.6.1"
pyleniumio = "==1.21.0"
django-maintenance-mode = "==0.22.0"
faker = "==23.3.0"
pillow = "==11.3.0"
prometheus-client = "==0.21.0"
xlsxwriter = "==3.2.5"
blinker = "==1.7.0"
psycopg2 = "==2.9.11"
django-storages = { extras = ["s3"], version = "==1.14.6" }
django-opensearch-dsl = "==0.7.0"
django-structlog = {extras = ["celery"], version = "==9.1.1"}
locust = "==2.42.1"
defusedxml = "==0.7.1"
django-ninja = "==1.4.3"
urllib3 = "==2.6.3"
bagit = "==1.9.0"
django-registration = "==3.4"
aws-xray-sdk = "==2.14.0"
boto3 = "==1.39.17"
botocore = "==1.39.17"
cron-descriptor = "~=1.4"
certifi = "==2025.7.14"
websocket-client = "<1.8.0"
django = "==5.2.9"

[dev-packages]
invoke = "==2.2.0"
django-extensions = "==3.2.3"
django-debug-toolbar = "==5.2.0"
coverage = "==7.9.2"
pre-commit = "==4.2.0"
tblib = "==3.1.0"

[requires]
python_version = "3.12"
