[tool.black]
target_version = ["py312"]
exclude = '''
(
  /(
    | \.git
    | node_modules
  )/
)
'''

[tool.ruff]
target-version = "py310"
select = [
    "E",
    "F",
    "W",
    "A", # flake8-builtins
    "B", # flake8-bugbear
    "C4", # flake8-comprehensions
    "ERA", # flake8-eradicate
    "G", # flake8-logging-format
    "I", # isort
]
ignore-init-module-imports = true  # Prevents removing imports from __init__.py

extend-exclude = [
        "concordia/settings_dev_*.py"
]

# Ignore line length in migrations
[tool.ruff.per-file-ignores]
"*/migrations/*" = ["E501"]

# v8.0.4 broke original setup config to produce git version - required configuration
[tool.setuptools_scm]
