Django<2.1
psycopg2
psycopg2-binary
Pillow
gunicorn
djangorestframework
celery
vendor/django-registration.zip
Markdown
coreapi
confusable-homoglyphs>=3.1.1
django-machina
django-haystack
Whoosh
-r requirements_importer.txt