Django>=2,<2.1
psycopg2
psycopg2-binary
Pillow
gunicorn
djangorestframework
vendor/django-registration.zip
Markdown
coreapi
boto3
requests
celery
Pillow
invoke
django_extensions
pytest
pytest-cov
pytest-django
pytest-html
pycodestyle
confusable-homoglyphs>=3.1.1
django-machina
django-haystack
Whoosh
bagit
-r requirements_importer.txt