{% extends "admin/change_form.html" %}

{% load static %}

{% block extrahead %}
    {{ block.super }}

    {% include 'fragments/codemirror-scripts-markdown.html' %}

{% endblock extrahead %}

{% block content %}
    {{ block.super }}


    <script src="{% static 'admin/editor-preview-markdown.js' %}"></script>

    <style>
        .field-body > div {
            display: flex;
            width: 100%;
        }

        .field-body > div > * {
            flex-basis: 50%;
            overflow-y: auto;

            min-height: 500px;
        }
    </style>
{% endblock content %}
