{% extends "admin/change_form.html" %}

{% load static %}

{% block extrahead %}
    {{ block.super }}

    {% include 'fragments/codemirror.html' %}
{% endblock extrahead %}

{% block content %}
    {{ block.super }}

    <template id="preview-head">{% spaceless %}
        {% include "fragments/common-stylesheets.html" %}
    {% endspaceless %}</template>

    <script src="{% static 'admin/editor-preview.js' %}"></script>
    <script>
        setupCodeMirror(document.getElementById('id_body'), 'markdown');
    </script>
{% endblock content %}
