body.view-action-app {
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    flex-shrink: 1;
    max-height: inherit;
}

#contribute-container {
    border: none;
}

#editor-main {
    max-height: 100%;
}

#asset-list {
    max-height: 100%;
    overflow-y: scroll;

    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;

    grid-template-columns: repeat(auto-fill, 256px);
    grid-template-rows: auto;

    justify-content: center;
}

#asset-list .asset {
    display: block;
    width: 256px;
    height: 256px;
    border-width: 3px !important;
    background-size: contain;
    cursor: pointer;
}

.asset-tooltip {
    background-color: #000;
    pointer-events: none;
}

main[data-mode='review'] #transcriber-column,
main[data-mode='transcribe'] #reviewer-column {
    display: none;
}
main[data-mode='transcribe'] #transcriber-column,
main[data-mode='review'] #reviewer-column {
    display: flex;
}
