body.view-action-app {
    height: 100vh;
    max-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    flex-shrink: 1;
    max-height: inherit;
    margin-bottom: 1.5rem; /* Ensure that the fixed footer does not overlap content */
}

#contribute-container {
    border: none;
}

#editor-main {
    max-height: 100%;
}

#asset-list-container {
    max-height: 100%;
    overflow-y: scroll;

    flex-grow: 1;
}

#asset-list {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;

    grid-template-columns: repeat(auto-fill, 256px);
    grid-template-rows: auto;

    justify-content: center;
}

#asset-list .asset {
    display: block;
    width: 256px;
    height: 256px;
    object-fit: contain;
    border-width: 3px !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.asset-tooltip {
    background-color: #000;
    pointer-events: none;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
}

main[data-mode='review'] #transcriber-column,
main[data-mode='transcribe'] #reviewer-column {
    display: none;
}
main[data-mode='transcribe'] #transcriber-column,
main[data-mode='review'] #reviewer-column {
    display: flex;
}

#asset-viewer {
    display: none;
}

main[data-open-asset-id] #asset-viewer {
    flex-grow: 1;
    max-height: inherit;

    display: flex;
    flex-direction: column;
}

main[data-open-asset-id] #asset-list-container {
    flex-grow: 0;
    flex-shrink: 0;

    display: block;
    width: 128px;
}

main[data-open-asset-id] #asset-list {
    grid-template-columns: repeat(auto-fill, 128px);
}

main[data-open-asset-id] #asset-list .asset {
    width: 128px;
    height: 128px;
}

main[data-open-asset-id] .asset-tooltip {
    font-size: smaller;
}

main[data-open-asset-id] #contribute-container {
    width: 100%;
    height: 100%;
}

#asset-info-modal.modal.show {
    width: 100vw;
}

#asset-info-modal.modal.show .modal-dialog {
    max-width: 90vw;
}

#asset-info-modal .modal-body {
    max-height: 80vh;
    overflow-y: auto;
}

#asset-metadata {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#asset-metadata .hierarchy {
    max-width: 85%;
}

#asset-metadata .hierarchy a {
    text-decoration: underline;
}

#viewer-column,
#editor-column {
    flex-basis: 50%;
}
