body {
  top: 0;
  left: 0;
  color: rgba(51,51,51,1);
}

h1 {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
  line-height: 125%;
  font-weight: normal;
  color: rgba(51,51,51,1);
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.75rem;
  line-height: 125%;
  font-weight: normal;
  color: rgba(51,51,51,1);
}

h3 {
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  line-height: 125%;
  font-weight: normal;
  color: rgba(51,51,51,1);
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 125%;
  font-weight: normal;
  color: rgba(51,51,51,1);
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 125%;
  font-weight: normal;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  line-height: 125%;
  font-weight: normal;
  color: rgba(51,51,51,1);
}

.header-text {
  font-weight: normal;
  color: rgba(250,250,250,1);
  text-align: center;

}

.p-latestblog {
  font-size: .875rem;
}

.font-weight-bolder {
  font-weight: 600;
}

.offwhite-text {
  color: rgba(250,250,250,1); /* #FAFAFA */
}

.blue-text {
  color: rgba(0,97,142,1); /* #00618E */
}
blue {
  color: rgba(0,97,142,1); /* #00618E */
}

.gray-text {
  color : rgba(51,51,51,1); /* #333333 */
}

a.offwhite-text {
  color: rgba(250,250,250,1); /* #FAFAFA */
  text-decoration: underline;
}

a.offwhite-text:hover {
  color: rgba(0,97,142,.7); /* #00618E */
  text-decoration: underline;
}

a.gray-text:hover {
  color: rgba(0,97,142,1); /* #00618E */
  text-decoration: none;
}

.bg-offwhite {
  background-color: rgba(250,250,250,1); /* #FAFAFA */
}

.bg-lightest-gray {
  background-color: rgba(245,245,245,1); /* #F5F5F5 */
}

.bg-main {
  background-color: rgba(102,102,102,1); /* #666666 */
}

.bg-footer {
  background-color: rgba(238,238,238,1); /* #EEEEEE */
}

.bg-card-title {
  background-color: rgba(51,51,51,.7); /* #333333 */
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.py-default {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar-brand img {
  height: 2.1875rem;
}

.navbar-brand .vl {
  height: 2.1875rem;
  background-color: rgba(51,51,51,1);
  width: .0675rem;
}

.navbar-offwhite .navbar-nav .active>.nav-link, .navbar-offwhite .navbar-nav .nav-link.active, .navbar-offwhite .navbar-nav .nav-link.show, .navbar-offwhite .navbar-nav .show>.nav-link {
  color: rgba(51,51,51,.7);  /* #333333 */
}

.navbar-offwhite .navbar-nav .nav-link {
  font-family: "Open Sans", sans-serif;
  color: rgba(51,51,51,1);
}

.img-header {
  background-color: rgba(51,51,51,.35);
  background-image: url("../img/volunteer-header-one-crop.jpg");
  background-blend-mode:overlay;
  background-size: cover, 100% auto;
  background-position: center 20%;
  height: 28.125rem;
  max-height: 28.125rem;
  background-attachment: scroll;
}

.padding-header {
  padding-top: calc( ( 450px - 147px ) / 2 ); /* vertically center text and button */
  padding-bottom: calc( ( 450px - 147px ) / 2 );
}

.margin-default, .mxy-default {
  margin: 2rem;
}

.mx-default {
  margin-right: 2rem;
  margin-left: 2rem;
}

.my-default {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.margin-top-default, .mt-default {
  margin-top: 2rem;
}

.margin-right-default, .mr-default {
  margin-right: 2rem;
}

.margin-bottom-default, .mb-default {
  margin-bottom: 2rem;
}

.margin-left-default, .ml-default {
  margin-left: 2rem;
}

.margin-half, .mxy-half {
  margin: 1rem;
}

.mx-half {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my-half {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.margin-top-half, .mt-half {
  margin-top: 1rem;
}

.margin-right-half, .mr-half {
  margin-right: 1rem;
}

.margin-bottom-half, .mb-half {
  margin-bottom: 1rem;
}

.margin-left-half, .ml-half {
  margin-left: 1rem;
}

.padding-default, .pxy-default {
  padding: 2rem;
}

.px-default {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py-default {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.padding-top-default, .pt-default {
  padding-top: 2rem;
}

.padding-right-default, .pr-default {
  padding-right: 2rem;
}

.padding-bottom-default, .pb-default {
  padding-bottom: 2rem;
}

.padding-left-default, .pl-default {
  padding-left: 2rem;
}

.padding-half, .pxy-half {
  padding: 1rem;
}

.px-half {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-half {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-top-half, .pt-half {
  padding-top: 1rem;
}

.padding-right-half, .pr-half {
  padding-right: 1rem;
}

.padding-bottom-half, .pb-half {
  padding-bottom: 1rem;
}

.padding-left-half, .pl-half {
  padding-left: 1rem;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-right: 0;
  padding-left: 0;
}

.btn-primary {
  background-color: rgba(0,97,142,1);
  border-color: rgba(0,97,142,1);
  color: rgba(250,250,250,1);
}

.btn-secondary {
  background-color: rgba(227,72,0,1);
  border-color: rgba(227,72,0,1);
  color: rgba(250,250,250,1);
}

.btn-default {
  background-color: rgba(102,102,102,1);
  border-color: rgba(102,102,102,1);
  color: rgba(250,250,250,1);
}

.btn-dark {
  background-color: rgba(51,51,51,1);
  border-color: rgba(51,51,51,1);
  color: rgba(250,250,250,1);
}

.card-body {
  padding: 1rem .5rem;
}

.card-img-overlay {
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 60%;
  padding-right: .5rem;
  padding-left: .5rem;
  /* padding: 15% .5rem .5rem; */
  /* margin: 66.667% 0 0; */
}

.card-title {
  margin-bottom: .5rem;
}

.round-corners-bottom {
  border-radius: 0 0 .5rem .5rem;
}

.latestblog-imgmask {
  /* width: 12.5rem; */
  width: 100%;
  height: 12.5rem;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: 0 0 4px rgba(51,51,51,.7);
}

.img-latestblog {
  max-width: 100%;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.shadow-regular {
  box-shadow: 0 0 .25rem rgba(51,51,51,.8);
}

.loader {
  border: 16px solid rgba(238,238,238,1);
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading {
  position: fixed;
    width:  100%;
    height:  100%;
    z-index: 1000;
    background-color: rgba(51,51,51,.3);
    top: 0;
    left: 0;
    padding-top: 18%;
}

.loading-pulse {
  position: relative;
  z-index: 2000;
  width: .375rem;
  height: 1.5rem;
  background: rgba(0,97,142,.3);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.loading-pulse:before, .loading-pulse:after {
  content: '';
  position: absolute;
  display: block;
  height: 1rem;
  width: .375rem;
  background: rgba(0,97,142,.4);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: pulse 750ms infinite;
          animation: pulse 750ms infinite;
}

.loading-pulse:before {
  left: -.75rem;
}

.loading-pulse:after {
  left: .75rem;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

@keyframes pulse {
  50% {
    background: rgba(0,97,142,1);
  }
}
@-webkit-keyframes pulse {
  50% {
    background: rgba(0,97,142,1);
  }
}

.contribute-box {
  height: calc( 50vh );
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: move;
  z-index: 2;
}

.tab-content, .tab-pane {
  height: calc( 50vh - ( 56px + 38px ) );
  overflow-y: scroll;
}

/* CONTRIBUTE PAGE INLINED STYLES */
.asset-image {
    height: calc( 100vh - 97px );

}
.asset-image {
    background-color: #eee;
    border: 1px solid #ccc;
}
.tab-pane textarea {
    height: 100%;
    border: 1px solid #ccc;
}
/*
* bootstrap-tagsinput v0.8.0
*
*/

.bootstrap-tagsinput {
background-color: #fff;
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
display: inline-block;
padding: 4px 6px;
color: #555;
vertical-align: middle;
border-radius: 4px;
width: 100%;
line-height: 22px;
cursor: text;
}
.bootstrap-tagsinput input {
border: none;
box-shadow: none;
outline: none;
background-color: transparent;
padding: 0 6px;
margin: 0;
width: auto;
max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
color: #777;
opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
color: #777;
}
.bootstrap-tagsinput input:focus {
border: none;
box-shadow: none;
}
.bootstrap-tagsinput .badge {
margin-right: 2px;
color: white;
background-color:#0275d8;
padding:5px 8px;border-radius:3px;
border:1px solid #01649e
}
.bootstrap-tagsinput .badge [data-role="remove"] {
margin-left: 8px;
cursor: pointer;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
content: "×";
padding: 0px 4px;
background-color:rgba(0, 0, 0, 0.1);
border-radius:50%;
font-size:13px
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {

background-color:rgba(0, 0, 0, 0.62);}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* #nav-tags .bootstrap-tagsinput{
height:100%;
} */
#nav-tags .badge{
margin-top: 5px;
}
