:root {
    --primary-color: rgba(0,97,142,1); /* #00618E */
      --primary-color-hover: rgba(0,35,71,1); /* #002347 */
    --secondary-color: rgba(227,72,0,1); /* #E34800 */
    --text-color-primary: rgba(51,51,51,1); /* #333333 */
    --text-color-offwhite: rgba(250,250,250,1); /* #FAFAFA */
    --text-nav-current: rgba(51,51,51,.7); /* #333333 */
    --text-placeholder: rgba(102,102,102,1); /* #666666 */
    --bg-offwhite: rgba(250,250,250,1); /* #FAFAFA */
    --bg-lightest-gray: rgba(245,245,245,1); /* #F5F5F5 */
    --bg-darkest-gray: rgba(51,51,51,1); /* #333333 */
    --bg-main: rgba(102,102,102,1); /* #666666 */
    --bg-footer: rgba(238,238,238,1); /* #EEEEEE */
    --bg-card-title: rgba(51,51,51,0.7); /* #333333 */
    --bg-loading: rgba(51,51,51,.5); /* #333333 */
    --shadow-color: rgba(51,51,51,.8); /* #333333 */
    --height-top-nav: 4.506875rem;
    --height-main: calc( 100vh - 4.506875rem );
    --height-contribute-input: calc( 50vh - ( 3.5rem + 3.375rem ) );
    --height-tags-input: calc( 50vh - 3.375rem );
    --top-value-tags-input: calc( 50vh - 3rem );
}

body {
    top: 0;
    left: 0;
    color: var(--bg-darkest-gray);
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    line-height: 125%;
    font-weight: normal;
    color: var(--text-color-primary);
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    line-height: 125%;
    font-weight: normal;
    color: var(--text-color-primary);
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    line-height: 125%;
    font-weight: normal;
    color: var(--text-color-primary);
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 125%;
    font-weight: normal;
    color: var(--text-color-primary);
}

h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 125%;
    font-weight: normal;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 125%;
    font-weight: normal;
    color: var(--text-color-primary);
}

.header-text {
    font-weight: normal;
    color: var(--text-color-offwhite);
    text-align: center;
}

.p-latestblog {
    font-size: 0.875rem;
}

.font-weight-bolder {
    font-weight: 600;
}

.offwhite-text {
    color: var(--text-color-offwhite);
}

.blue-text {
    color: var(--primary-color);
}

blue {
    color: var(--primary-color);
}

.gray-text {
    color: var(--text-color-primary);
}

.contribute-breadcrumb {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: var(--text-color-offwhite);
}

a.blue-text:hover {
    color: var(--primary-color-hover);
    text-decoration: underline;
}
a.offwhite-text {
    color: var(--text-color-offwhite);
    text-decoration: underline;
}

a.offwhite-text:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

a.gray-text:hover {
    color: var(--primary-color);
    text-decoration: none;
}

.bg-offwhite {
    background-color: var(--bg-offwhite);
}

.bg-lightest-gray {
    background-color: var(--bg-lightest-gray);
}

.bg-darkest-gray {
    background-color: var(--bg-darkest-gray);
}

.bg-main {
    background-color: var(--bg-darkest-gray);
}

.bg-footer {
    background-color: var(--bg-footer);
}

.bg-card-title {
    background-color: var(--bg-card-title);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

main {
    min-height: var(--height-main);
    background-color: var(--bg-main);
}

input {
    color: var(--text-color-primary);
    background-color: var(--bg-offwhite);
}

.py-default {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar-brand img {
    height: 2.1875rem;
}

.navbar-brand .vl {
    height: 2.1875rem;
    background-color: var(--text-color-primary);
    width: 0.0675rem;
}

.navbar-offwhite .navbar-nav .active>.nav-link, .navbar-offwhite .navbar-nav .nav-link.active, .navbar-offwhite .navbar-nav .nav-link.show, .navbar-offwhite .navbar-nav .show>.nav-link {
    color: var(--text-nav-current);
}

.navbar-offwhite .navbar-nav .nav-link {
    font-family: "Open Sans", sans-serif;
    color: var(--text-color-primary);
}

.nav-dropdown .dropdown-menu {
    top: 3.375rem;
    left: -4rem;
}

.img-header {

    background-color: rgba(51,51,51,.35);
    background-image: url("../img/volunteer-header-one-crop.jpg");
    background-blend-mode:overlay;
    background-size: cover, 100% auto;
    background-position: center 20%;
    height: 28.125rem;
    max-height: 28.125rem;
    background-attachment: scroll;
}

.padding-header {
    padding-top: calc( ( 28.125rem - 9.1875rem ) / 2 ); /* vertically center text and button */
    padding-bottom: calc( ( 28.125rem - 9.1875rem ) / 2 );
}

.margin-default,
.mxy-default {
    margin: 2rem;
}

.mx-default {
    margin-right: 2rem;
    margin-left: 2rem;
}

.my-default {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.margin-top-default,
.mt-default {
    margin-top: 2rem;
}

.margin-right-default,
.mr-default {
    margin-right: 2rem;
}

.margin-bottom-default,
.mb-default {
    margin-bottom: 2rem;
}

.margin-left-default,
.ml-default {
    margin-left: 2rem;
}

.margin-half,
.mxy-half {
    margin: 1rem;
}

.mx-half {
    margin-right: 1rem;
    margin-left: 1rem;
}

.my-half {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margin-top-half,
.mt-half {
    margin-top: 1rem;
}

.margin-right-half,
.mr-half {
    margin-right: 1rem;
}

.margin-bottom-half,
.mb-half {
    margin-bottom: 1rem;
}

.margin-left-half,
.ml-half {
    margin-left: 1rem;
}

.margin-quarter, .mxy-quarter {
    margin: .5rem;
}

.mx-quarter {
    margin-right: .5rem;
    margin-left: .5rem;
}

.my-quarter {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.margin-top-quarter, .mt-quarter {
    margin-top: .5rem;
}

.margin-right-quarter, .mr-quarter {
    margin-right: .5rem;
}

.margin-bottom-quarter, .mb-quarter {
    margin-bottom: .5rem;
}

.margin-left-quarter, .ml-quarter {
    margin-left: .5rem;
}

.padding-default, .pxy-default {
    padding: 2rem;
}

.px-default {
    padding-right: 2rem;
    padding-left: 2rem;
}

.py-default {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.padding-top-default,
.pt-default {
    padding-top: 2rem;
}

.padding-right-default,
.pr-default {
    padding-right: 2rem;
}

.padding-bottom-default,
.pb-default {
    padding-bottom: 2rem;
}

.padding-left-default,
.pl-default {
    padding-left: 2rem;
}

.padding-half,
.pxy-half {
    padding: 1rem;
}

.px-half {
    padding-right: 1rem;
    padding-left: 1rem;
}

.py-half {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-top-half, .pt-half {
    padding-top: 1rem;
}

.padding-right-half, .pr-half {
    padding-right: 1rem;
}

.padding-bottom-half, .pb-half {
    padding-bottom: 1rem;
}

.padding-left-half, .pl-half {
    padding-left: 1rem;
}

.padding-quarter, .pxy-quarter {
    padding: .5rem;
}

.px-quarter {
    padding-right: .5rem;
    padding-left: .5rem;
}

.py-quarter {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.padding-top-quarter, .pt-quarter {
    padding-top: .5rem;
}

.padding-right-quarter, .pr-quarter {
    padding-right: .5rem;
}

.padding-bottom-quarter, .pb-quarter {
    padding-bottom: .5rem;
}

.padding-left-quarter, .pl-quarter {
    padding-left: .5rem;
}

/* add bottom margin for featured collections below MD breakpoint */
@media (max-width: 575.98px) {
    .home-collections { margin-bottom: 1rem; }
    .home-blogpost { margin-bottom: 1rem; }
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0;
    padding-left: 0;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color-offwhite);
}

.btn-primary-fixed-width {
    width: 200px;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
    color: var(--text-color-offwhite);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color-offwhite);
}

.btn-default {
    background-color: var(--bg-darkest-gray);
    border-color: var(--bg-darkest-gray);
    color: var(--text-color-offwhite);
}

.btn-dark {
    background-color: var(--bg-darkest-gray);
    border-color: var(--bg-darkest-gray);
    color: var(--text-color-offwhite);
}

.card-body {
    padding: 1rem 0.5rem;
}

.card-img-collection {
    object-position: center top;
    object-fit: cover;
    height: 18.75rem;
}

.card-img-overlay {
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 40%;
    padding: .5rem 1.25rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.round-corners-bottom {
    border-radius: 0 0 0.5rem 0.5rem;
}

.latestblog-imgmask {
    width: 100%;
    height: 12.5rem;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 0 .25rem var(--shadow-color);
}

.img-latestblog {
    max-width: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.img-collection {
    padding: 0 1.25rem !important;
}

.collection-image-link {
    z-index: 2;
}

.shadow-regular {
    box-shadow: 0 0 0.25rem var(--shadow-color);
}

.loading {
    position: fixed;
    width:  100%;
    height:  100%;
    z-index: 1000;
    background-color: var(--bg-loading);
    top: 0;
    left: 0;
    padding-top: 18%;
}

.loading-pulse {
    position: relative;
    z-index: 2000;
    width: .375rem;
    height: 1.5rem;
    background: rgba(0,97,142,.4);
    -webkit-animation: pulse 750ms infinite;
    animation: pulse 750ms infinite;
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

.loading-pulse:before, .loading-pulse:after {
    content: '';
    position: absolute;
    display: block;
    height: 1rem;
    width: .375rem;
    background: rgba(0,97,142,.3);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: pulse 750ms infinite;
    animation: pulse 750ms infinite;
}

.loading-pulse:before {
    left: -.75rem;
}

.loading-pulse:after {
    left: .75rem;
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
}

@keyframes pulse {
    50% {
        background: var(--primary-color);
    }
}
@-webkit-keyframes pulse {
    50% {
        background: var(--primary-color);
    }
}

/*
* Contribute page CSS
*/

.alert-contribute {
    display: block;
    position: absolute;
    top: var(--height-top-nav);
    z-index: 100;
}

.asset-image {
    height: calc( 100vh - 6.0625rem );
    border: 1px solid var(--bg-lightest-gray);
}

#test-percent {
    height: 0;
}

.contribute-box {
    height: calc( 100vh - 6.0625rem );
}

.contribute-box .dropdown-menu {
    cursor: pointer;
}

.contribute-box .dropdown-menu.active {
    color: var(--text-color-offwhite);
    background: var(--primary-color);
}

.nav-pills .nav-link {
    color: var(--text-color-offwhite);
    border-radius: 1rem;
    text-decoration: underline;
    font-size: .875rem;
}

.nav-pills .nav-link.active {
    color: var(--text-color-offwhite);
    background-color: var(--primary-color);
    text-decoration: none;
}

#nav-tabContent, .tab-pane {
    min-height: var(--height-contribute-input);
}

#nav-tabContent {
    overflow-y: hidden;
}

#tab-transcription {

}

#tab-tag {
    height: var(--height-tags-input);
}

#tab-discussion {
    background-color: var(--bg-offwhite);
}

.tab-pane textarea {
    color: var(--text-color-primary);
    background-color: var(--bg-offwhite);
    height: var(--height-contribute-input);
    border: 1px solid var(--bg-lightest-gray);
    resize: none;
    overflow-y: auto;
}

.tab-pane textarea::-webkit-input-placeholder, .tab-pane textarea::-moz-placeholder, .tab-pane textarea:-ms-input-placeholder, .tab-pane textarea:-moz-placeholder {
    color: #666666;
    opacity: 1;
}

#status-id-label {
    color: var(--text-color-offwhite);
    margin-bottom: 0;
}

/*
* tag-input
*/

.tag-input {
    border: 1px solid var(--bg-lightest-gray);
    height: var(--height-contribute-input);
    width: 100%;
    line-height: 1.375rem;
}

.tag-input input {
    display: block;
    position: absolute;
    top: var(--top-value-tags-input);
    border: 1px solid var(--bg-lightest-gray);
    margin-left: -.5625rem;
    width: calc( 100% - 2rem );
    height: 2.375rem;
    cursor: text;
}
.tag-input.form-control input::-moz-placeholder, .tag-input.form-control input:-ms-input-placeholder, .tag-input.form-control input::-webkit-input-placeholder {
    color: #666666;
    opacity: 1;
}

.tag-input .badge {
    color: var(--text-color-offwhite);
    background-color: var(--primary-color);
    box-shadow: 0 0 .125rem var(--shadow-color);
}

.tag-input .badge [data-role="remove"] {
    padding: 0 .25rem;
    background-color: var(--primary-color-hover);
    border-radius: 50%;
    cursor: pointer;
}

.tag-input .badge [data-role="remove"]:hover {
    background-color: rgba(0,0,0,0.6);
}

.tag-input .badge [data-role="remove"]:hover:active {
    box-shadow: inset 0 .1875rem .3125rem rgba(0,0,0,0.125);
}

#nav-tags .badge {
    margin-top: .3125rem;
}

/*
* Registration and login styling
*/

.container-registration {
    --height-difference: calc( var(--height-main) - 28.9375rem );
    margin-top: calc( var(--height-difference) / 2 );
    margin-bottom: calc( var(--height-difference) / 2 );
}

.container-login {
    --height-difference: calc( var(--height-main) - 21.1875rem );
    margin-top: calc( var(--height-difference) / 2 );
    margin-bottom: calc( var(--height-difference) / 2 );
}

.form-register input[type=password], .form-register input[type=text], .form-register input[type=email], .form-login input[type=password], .form-login input[type=text] {
    min-width: 50%;
    border-radius: .25rem;
}

.form-register label {
    padding-right: .5rem;
}

.form-register .helptext {
    display: none;
}
