:root {
    --primary-color: rgba(252, 76, 2, 1); /* #FC4C02 */
    --primary-color-hover: rgba(188, 57, 1, 1); /* #BC3901 */
    --secondary-color: rgba(0, 167, 228, 1); /* #00A7E4 */
    --secondary-color-hover: rgba(0, 35, 71, 1); /* #002347 */
    --color-success: rgba(22, 201, 74, 1); /* #16C94A */
    --color-danger: rgba(254, 12, 11, 1); /* #FE0C0B */
    --color-warning: rgba(254, 153, 11, 1); /* #FE990B */
    --color-info: rgba(2, 252, 216, 1); /* #02FCD8 */
    --text-color-primary: rgba(38, 50, 56, 1); /* #263238 */
    --text-color-offwhite: rgba(250, 250, 250, 1); /* #FAFAFA */
    --text-nav-current: rgba(252, 76, 2, 1); /* #FC4C02 */
    --bg-offwhite: rgba(250, 250, 250, 1); /* #FAFAFA */
    --bg-lightest-gray: rgba(245, 245, 245, 1); /* #F5F5F5 */
    --bg-darkest-gray: rgba(51, 51, 51, 1); /* #333333 */
    --bg-offblack: rgba(38, 50, 56, 1); /* #263238 */
    --bg-dark-gray: rgba(102, 102, 102, 1); /* #666666 */
    --bg-medium-gray: rgba(153, 153, 153, 1); /* #999999 */
    --bg-footer: rgba(238, 238, 238, 1); /* #EEEEEE */
    --bg-divider: rgba(189, 189, 189, 1); /* #BDBDBD */
    --bg-card-title: rgba(51, 51, 51, 0.7); /* #333333 */
    --bg-loading: rgba(51, 51, 51, 0.5); /* #333333 */
    --shadow-color: rgba(51, 51, 51, 0.8); /* #333333 */
    --light-shadow-color: rgba(51, 51, 51, 0.4); /* #333333 */
    --footer-links-color: #00618e;

    /* Colors used to build complex interface widgets */
    --control-bg-light: #efefef;
    --control-bg-default: #d8d8d8;
    --control-label-color: #333333;

    --height-top-nav: 113px; /* Height of logo image plus padding */
    --height-main: calc(
        100vh - var(--height-top-nav)
    ); /* Subtract height of navbar */

    /* Making room for instructions button on bottom and breadcrumb and nav on top */
    --height-contribute-image: calc(
        100vh - (8.0625rem + 1.59375rem + 2.375rem)
    );

    /* Subtract height of navbar, breadcrumbs, and nav pills */
    --height-contribute-input: calc(50vh - 5.96875rem);
    --height-tags-input: calc(50vh - 2.625rem);
    --top-tags-input: calc(50vh - 0.75rem);
}

body {
    color: var(--text-color-primary);
    border-top: 0.25rem solid var(--primary-color);
    background-color: var(--bg-offwhite);
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    color: var(--text-color-primary);
}

.view-homepage h1 {
    font-size: 3rem;
    line-height: 125%;
}

h1.header-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.header-text .beta-label {
    font-size: x-small;
    color: var(--primary-color);
}

h2 {
    font-size: 1.5rem;
    line-height: 125%;
    font-weight: bold;
    color: var(--text-color-primary);
}

h2.offwhite {
    color: var(--text-color-offwhite);
}

h2 small {
    color: var(--text-color-primary);
}

h3 {
    font-size: 1.25rem;
    line-height: 125%;
    font-weight: bold;
    color: var(--text-color-primary);
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    line-height: 125%;
    font-weight: bold;
    color: var(--text-color-primary);
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 125%;
    font-weight: bold;
    font-weight: normal;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    line-height: 125%;
    font-weight: bold;
    color: var(--text-color-primary);
}

.offwhite-text {
    color: var(--text-color-offwhite);
}

.primary-text {
    color: var(--primary-color);
}

.secondary-text {
    color: var(--secondary-color);
}

.gray-text {
    color: var(--text-color-primary);
}

a:hover {
    color: var(--text-color-primary);
}

a.primary-text {
    color: var(--primary-color);
    text-decoration: none;
}

a.primary-text:hover {
    color: var(--primary-color-hover);
    text-decoration: underline;
}

a.secondary-text {
    color: var(--secondary-color);
    text-decoration: none;
}

a.secondary-text:hover {
    color: var(--secondary-color-hover);
    text-decoration: underline;
}

a.offwhite-text {
    color: var(--text-color-offwhite);
    text-decoration: none;
}

a.offwhite-text:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

a.gray-text {
    text-decoration: none;
}

a.gray-text:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

a.nav-secondary {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.875rem;
    color: var(--text-color-primary);
}

a.nav-secondary:hover {
    opacity: 70%;
    text-decoration: none;
}

a .campaign-title:hover,
a .hero-text:hover {
    color: var(--text-color-primary);
    text-decoration: underline;
}

a.nav-secondary:first-of-type {
    border-right: solid 0.0675rem var(--bg-darkest-gray);
}

.view-homepage p.hero-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: var(--text-color-primary);
}

.view-homepage p.hero-text.offwhite-text {
    color: var(--text-color-offwhite);
}

p.hero-secondary {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--text-color-primary);
}

p.hero-secondary.offwhite-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    color: var(--text-color-offwhite);
}

.bg-offwhite {
    background-color: var(--bg-offwhite);
}

.bg-lightest-gray {
    background-color: var(--bg-lightest-gray);
}

.bg-medium-gray {
    background-color: var(--bg-medium-gray);
}

.bg-darkest-gray {
    background-color: var(--bg-darkest-gray);
}

.bg-dark-gray {
    background-color: var(--bg-darkest-gray);
}

.bg-footer {
    background-color: var(--bg-footer);
}

.bg-card-title {
    background-color: var(--bg-card-title);
}

.bg-home-contribute {
    /* For browsers that do not support gradients */
    background-color: var(--bg-darkest-gray);

    background-image: linear-gradient(
            rgba(250, 250, 250, 0.25),
            rgba(38, 50, 56, 0.25)
        ),
        linear-gradient(rgba(51, 51, 51, 1), rgba(51, 51, 51, 1));
}

.bg-img-placeholder {
    background-color: var(--bg-divider);
}

.bg-img-placeholder:hover {
    background-image: linear-gradient(
            rgba(252, 76, 2, 0.5),
            rgba(252, 76, 2, 0.1)
        ),
        linear-gradient(rgba(189, 189, 189, 1), rgba(189, 189, 189, 1));
}

.bg-primary-color {
    background-color: var(--primary-color);
}

input {
    color: var(--text-color-primary);
    background-color: var(--bg-offwhite);
}

hr {
    color: var(--bg-dark-gray);
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.navbar-brand img {
    width: 10.625rem;
    height: auto;
}

div.nav-secondary {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

/*
* vertical and horizontal dividers
*/

.navbar-brand .vl {
    height: 6rem;
    background-color: var(--bg-dark-gray);
    width: 0.0675rem;
}

.border-login-register {
    border-left: solid 0.0675 var(--bg-darkest-gray);
}

.border-left-home-contribute {
    border-left: solid 0.0675rem var(--bg-offwhite);
}

.navbar-offwhite .navbar-nav .active > .nav-link,
.navbar-offwhite .navbar-nav .nav-link.active,
.navbar-offwhite .navbar-nav .nav-link.show,
.navbar-offwhite .navbar-nav .show > .nav-link {
    color: var(--text-nav-current);
}

.navbar-offwhite .navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: var(--text-color-primary);
}

#topnav-account-dropdown ~ .dropdown-menu {
    /* Our custom styling conflicts with the Bootstrap defaults */
    top: 3.375rem;
    left: -4rem;
}

.carousel {
    max-height: 30rem;
    overflow-y: hidden;
}

.carousel-text {
    background-color: rgba(250, 250, 250, 0.95);
    z-index: 2;
    display: block;
    position: absolute;
    top: 2rem;
    margin-left: 3rem;
}

.carousel-item img {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    align-self: flex-end !important;
}

.margin-default,
.mxy-default {
    margin: 2rem !important;
}

.mx-default {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}

.my-default {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}

.margin-top-default,
.mt-default {
    margin-top: 2rem !important;
}

.margin-right-default,
.mr-default {
    margin-right: 2rem !important;
}

.margin-bottom-default,
.mb-default {
    margin-bottom: 2rem !important;
}

.margin-left-default,
.ml-default {
    margin-left: 2rem !important;
}

.padding-default,
.pxy-default {
    padding: 2rem !important;
}

.px-default {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.py-default {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.padding-top-default,
.pt-default {
    padding-top: 2rem !important;
}

.padding-right-default,
.pr-default {
    padding-right: 2rem !important;
}

.padding-bottom-default,
.pb-default {
    padding-bottom: 2rem !important;
}

.padding-left-default,
.pl-default {
    padding-left: 2rem !important;
}

/* Responsive header behavior for XS devices */
@media (max-width: 355.98px) {
    h1.header-text a {
        display: none;
    }
    a.btn-primary.btn-lg {
        font-size: 1rem;
    }
}

/* Responsive header behavior for XS devices */
@media (max-width: 403.98px) {
    .carousel-text {
        top: 0.25rem;
        margin-left: 1rem;
    }
}

/* Responsive header behavior for XS devices */
@media (max-width: 449.98px) and (min-width: 356px) {
    h1.header-text {
        font-size: 1.75rem;
    }
}

/* SM breakpoint and below */
@media (max-width: 767.98px) {
    h1 {
        margin-bottom: 0;
    }
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}

/* SM breakpoint and some XS */
@media (max-width: 767.98px) and (min-width: 404px) {
    .carousel-text {
        top: 20%;
        margin-left: 1rem;
    }
}

/* MD screensize and below */
@media (max-width: 798.98px) and (min-width: 449.98px) {
    h1.header-text {
        font-size: 2rem;
    }
}

/* MD breakpoint and below */
@media (max-width: 991.98px) {
    .border-left-home-contribute {
        border-left: solid 0px transparent;
    }
    .container-fluid.px-default {
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        font-size: 1.75rem;
    }
    p.hero-text {
        font-size: 1.0625rem;
    }
}
@media (max-width: 991.98px) and (min-width: 768px) {
    .carousel-text {
        top: 0.5rem;
        margin-left: 1.25rem;
    }
}

@media (max-width: 991.98px) and (min-width: 799px) {
    h1.header-text {
        font-size: 2.25rem;
    }
}

/* LG breakpoint and below */
@media (max-width: 1199.98px) and (min-width: 992px) {
    h1 {
        font-size: 2.25rem;
    }
    .carousel-text {
        top: 1rem;
        margin-left: 2rem;
    }
    p.hero-text {
        font-size: 1.2rem;
    }
}

/* Screens wider than the MD breakpoint */
@media (min-width: 992px) {
    .container-fluid {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .mxy-md-default {
        margin: 2rem !important;
    }

    .mx-md-default {
        margin-right: 2rem !important;
        margin-left: 2rem !important;
    }

    .my-md-default {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }

    .mt-md-default {
        margin-top: 2rem !important;
    }

    .mr-md-default {
        margin-right: 2rem !important;
    }

    .mb-md-default {
        margin-bottom: 2rem !important;
    }

    .ml-md-default {
        margin-left: 2rem !important;
    }

    .pxy-md-default {
        padding: 2rem !important;
    }

    .px-md-default {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }

    .py-md-default {
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }

    .pt-md-default {
        padding-top: 2rem !important;
    }

    .pr-md-default {
        padding-right: 2rem !important;
    }

    .pb-md-default {
        padding-bottom: 2rem !important;
    }

    .pl-md-default {
        padding-left: 2rem !important;
    }
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-color-offwhite);
}

.btn-minimal-primary {
    background-color: transparent;
    border-color: transparent;
    color: var(--primary-color);
}

.btn-primary-centered {
    display: inline-block;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
    color: var(--text-color-offwhite);
}

.btn-minimal-primary:hover {
    background-color: var(--primary-color);
    border-color: transparent;
    color: var(--text-color-offwhite);
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
    color: var(--text-color-offwhite) !important;
}

.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-primary:hover {
    border-color: var(--primary-color-hover);
    background-color: transparent;
    color: var(--primary-color-hover);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color-offwhite);
}

.btn-secondary:hover {
    background-color: var(--secondary-color-hover);
    border-color: var(--secondary-color-hover);
    color: var(--text-color-offwhite);
}

.btn-outline-secondary {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.btn-outline-secondary:hover {
    border-color: var(--secondary-color-hover);
    background-color: transparent;
    color: var(--secondary-color-hover);
}

.btn-minimal-secondary {
    background-color: transparent;
    border-color: transparent;
    color: var(--secondary-color);
}

.btn-minimal-secondary:hover {
    background-color: var(--secondary-color);
    border-color: transparent;
    color: var(--text-color-offwhite);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
    color: var(--text-color-offwhite) !important;
}

.btn-default {
    background-color: rgba(158, 158, 158, 1);
    border-color: rgba(158, 158, 158, 1);
    color: var(--text-color-primary);
}

.btn-default.disabled,
.btn-default:disabled {
    background-color: rgba(158, 158, 158, 1) !important;
    border-color: rgba(158, 158, 158, 1) !important;
    color: var(--text-color-primary) !important;
}

.btn-default:hover {
    background-color: var(--bg-darkest-gray);
    border-color: var(--bg-darkest-gray);
    color: var(--text-color-offwhite);
}

.btn-outline-default {
    border-color: var(--bg-medium-gray);
    color: var(--bg-medium-gray);
}

.btn-outline-default:hover {
    border-color: var(--bg-darkest-gray);
    background-color: transparent;
    color: var(--bg-darkest-gray);
}

.btn-row .btn {
    width: 9.875rem !important;
}

.btn-dark {
    background-color: var(--bg-offblack);
    border-color: var(--bg-offblack);
    color: var(--text-color-offwhite);
}

.btn-dark.disabled,
.btn-dark:disabled {
    background-color: var(--bg-darkest-gray) !important;
    border-color: var(--bg-darkest-gray) !important;
    color: var(--text-color-offwhite) !important;
}

.card-body {
    padding: 1rem 0.5rem;
}

.card-img-campaign {
    object-position: center top;
    object-fit: cover;
    height: 13.25rem;
}

.card-img-overlay {
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 3.0675rem;
    padding: 0.5rem 1.25rem;
}

.card-img-overlay.img-campaign {
    padding: 0;
}

.card-title {
    margin-bottom: 0.5rem;
}

.img-project {
    min-height: 13.125rem;
}

.round-corners-bottom {
    border-radius: 0 0 0.5rem 0.5rem;
}

.img-fluid.rounded-circle {
    max-height: 15rem;
    width: auto;
}

.shadow-regular {
    box-shadow: 0 0 0.25rem var(--shadow-color);
}

/*
 * Common navigational elements
 */

.breadcrumb {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
}

.breadcrumb-item {
    max-width: 20em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*
 * List-like displays for items and assets
 */

.card-deck .card.concordia-object-card {
    position: relative;
    flex-grow: 0;
    flex-basis: 200px;

    width: 200px;
    min-height: 300px;

    margin: 0.25rem;

    justify-content: start;
    align-items: center;

    background-color: var(--bg-lightest-gray);
}

.concordia-object-card .card-title,
.concordia-object-card .card-actions {
    position: absolute;
    left: 0;
    right: 0;

    color: var(--text-color-offwhite);
}

.concordia-object-card .card-title {
    top: 0;
    padding: 2px;

    font-weight: bold;
    color: var(--text-color-offwhite);
    background-color: var(--light-shadow-color);
}

.concordia-object-card .card-title:hover {
    background-color: var(--shadow-color);
}

.concordia-object-card .card-actions {
    bottom: 0;
}

.concordia-object-card .card-actions .btn-default:not(:hover) {
    background-color: var(--light-shadow-color);
}

/*
 * Homepage customizations
 */

.view-homepage h1,
.view-homepage h2 {
    text-transform: uppercase;
}

/*
 * Asset detail page
 *
 * This page wants to display as much as possible and so the entire page is a flex column
 */

body.view-transcriptions--asset-detail main {
    height: var(--height-main);
    background-color: inherit;
}

#contribute-main-content {
    position: relative;
}

body.view-transcriptions--asset-detail main,
#contribute-main-content {
    /* This avoids browser inconsistencies when using the fullscreen API */
    background-color: inherit;
}

#contribute-main-content h2 {
    font-size: inherit;
}

#navigation-container {
    background-color: var(--control-bg-light);
    border: solid var(--control-bg-default) 1px;
    border-bottom: unset;
}

#contribute-container {
    border: solid var(--control-bg-default) 1px;
}

#transcription-editor textarea {
    resize: none;
}

#help-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

#help-container > * {
    margin: 0.6rem;
}

/* Help Center */

.help-center-overlay {
    opacity: 0.25;
    background-color: #000000;
}

.help-center-card {
    color: #fff;
    width: 300px;
    height: 225px;
    background-color: var(--primary-color);
}

.help-center-card a {
    color: #fff;
}

#faqAccordion {
    padding-bottom: 20px;
}

#faqAccordion button {
    color: #333;
}

#faqAccordion .card {
    border-left: 0;
    border-right: 0;
}

#faqAccordion .card-header {
    padding-left: 0;
}

#faqAccordion .card-header button {
    padding-left: 0;
}

.help-center .nav-link {
    padding: 0.5rem 0.5rem;
}

.help-center a.nav-link {
    color: #333;
    font-weight: bold;
}

.help-center a.nav-link.active {
    color: var(--primary-color);
}

/* End of help center stuff */

#instruction-window {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 10;

    background-color: rgba(250, 250, 250, 0.8);
    border-top: 1pt solid var(--bg-darkest-gray);
    transition: height 1s linear 0;
}

#instruction-window.collapse {
    display: none;
}

#instruction-window.collapse.show {
    display: block;
}

#instruction-window p {
    max-width: 40em;
    margin: auto;
}

/*
 * Tag input on the asset detail page
 */

#current-tags {
    border: 0px solid #ccc;
    border-radius: 0.25rem;
    max-height: var(--height-contribute-input);
    list-style-type: none;

    max-height: 15vh;
    overflow-y: scroll;
}

#current-tags li {
    margin: 0.375rem;
    padding: 0.188rem 0.375rem;
    color: var(--text-color-offwhite);
    background-color: var(--primary-color);
    box-shadow: 0 0 0.125rem var(--shadow-color);
    border-radius: 0.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#current-tags li > * {
    margin: 0 0.188rem;
    padding: 0;
}

#current-tags [data-role='remove'] {
    background-color: var(--primary-color-hover);
    cursor: pointer;
}

#current-tags [data-role='remove']:hover:after {
    background-color: rgba(0, 0, 0, 0.62);
}

#current-tags [data-role='remove']:hover:active {
    box-shadow: inset 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.125);
}

/*
# Campaign Resources Panel
*/

div.related-links {
    background-color: #ddd;
    border: #000 1px solid;
    padding: 1.5em;
}

.related-links .list-group-item {
    background-color: #ddd;
    border: 0;
    padding-left: unset;
}

/*
* Alerts
*/

.alert.alert-primary {
    background-color: var(--primary-color);
    border-color: none;
    color: var(--text-color-offwhite);
}

.alert.alert-secondary {
    background-color: var(--secondary-color);
    border-color: none;
    color: var(--text-color-primary);
}

.alert.alert-success {
    background-color: var(--color-success);
    border-color: none;
    color: var(--text-color-offwhite);
}

.alert.alert-danger {
    background-color: var(--color-danger);
    border-color: none;
    color: var(--text-color-offwhite);
}

.alert.alert-warning {
    background-color: var(--color-warning);
    border-color: none;
    color: var(--text-color-primary);
}

.alert.alert-info {
    background-color: var(--color-info);
    border-color: none;
    color: var(--text-color-primary);
}

.alert .close {
    opacity: 0.8;
}

/*
* Footer
*/

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #999;
    padding: 20px;
}
.footer a {
    color: #666;
    text-decoration: none;
}
.footer a:hover,
.footer a:focus {
    text-decoration: underline;
}
@media print {
    .footer {
        display: none;
    }
}

.footer-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .footer-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.footer-social-title {
    font-size: 18px;
    font-weight: normal;
    color: #000;
    display: inline-block;
    margin: 0 0 10px 0;
}
@media (max-width: 992px) {
    .footer-social-title {
        display: block;
        margin: 0 0 7px;
    }
}
.footer-social-links {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}

.footer-social-links li {
    display: flex;
    margin: 0 7px;
}

.footer-social-links a {
    display: flex;
    align-items: center;
}

.footer-social-links li i {
    font-size: 17.5px;
}

.footer-social-links > li a .icon-external-link {
    font-size: 12.6px;
    color: #666;
}
.footer-social-links > li.footer-social-link-rss a {
    color: #f47f65;
}
.footer-social-links > li.footer-social-link-email a {
    color: var(--footer-links-color);
    display: flex;
    align-items: center;
}
.footer-social-links > li.footer-social-link-survey {
    padding-left: 28px;
    margin-left: 14px;
    font-size: 13px;
}
.footer-social-links > li.footer-social-link-survey a {
    color: var(--footer-links-color);
}
@media (max-width: 992px) {
    .footer-social-links > li.footer-social-link-survey {
        border: none;
        padding: 0;
        display: block;
        margin-top: 10.5px;
    }
}
.footer-social-links > li.footer-social-link-itunesu {
    font-size: 13px;
}
.footer-social-links > li.footer-social-link-itunesu a {
    color: var(--footer-links-color);
}
@media (max-width: 992px) {
    .footer-social-links {
        display: block;
    }
}
@media (min-width: 993px) {
    .footer-row {
        display: -webkit-box;
        /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: -moz-box;
        display: flex;
        /* NEW, Spec - Firefox, Chrome, Opera */
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-flex-align: flex-start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        margin: 0 -1rem;
    }
}

.footer-links-wrapper {
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    padding-right: 21px;
    margin-right: 21px;
    padding-left: 21px;
    margin-left: 21px;
}

.footer-links-wrapper .footer-links {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    font-size: 12px;
}
.footer-links-wrapper .footer-links > li {
    margin: 0 8.75px;
}
.footer-links-wrapper .footer-links > li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.footer-links-wrapper .footer-links a {
    color: var(--footer-links-color);
}

.intersites-links-wrapper {
    padding: 10px 0 0 0;
}

ul.intersites-links,
ul.legal-links {
    color: var(--footer-links-color);
    font-size: 12px;
}

ul.intersites-links a,
ul.legal-links a {
    color: var(--footer-links-color);
}

ul.intersites-links li,
ul.legal-links li {
    list-style-type: none;
    display: inline;
}

.intersites-links a {
    display: inline-block;
}

.legal-links {
    padding-left: 0;
    list-style: none;
}

.legal-links .vl {
    display: block;
    width: 1px;
    height: 0.8em;
    background-color: var(--footer-links-color);
}

.legal-links li {
    margin: 0 0.2rem;
}

.intersites-links > li,
.legal-links > li {
    display: inline-block;
}

.intersites-links > li.intersites-link-congress > a {
    width: 125px;
    height: 30px;
    background-size: 125px 30px;
    background: url(/static/img/congress-gov.svg) no-repeat;
}

.intersites-links > li.intersites-link-copyright > a {
    width: 175px;
    height: 30px;
    background-size: 175px 30px;
    background: url(/static/img/copyright-gov.svg) no-repeat;
}

@media (max-width: 992px) {
    .footer-links-wrapper {
        text-align: center;
        margin-bottom: 21px;
        border: 0;
    }
    .intersites-links-wrapper {
        text-align: center;
    }
}
@media (min-width: 993px) {
    .footer-links-wrapper {
        -webkit-box-flex: 1;
        /* OLD - iOS 6-, Safari 3.1-6 */
        -webkit-flex: 1;
        /* Safari 6.1+. iOS 7.1+, BB10 */
        -ms-flex: 1;
        /* IE 10 */
        -moz-box-flex: 1;
        flex: 1;
        /* NEW, Spec - Firefox, Chrome, Opera */
        min-width: 0;
        /* firefox fix */
        margin: 0 1rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.image-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    background-image: url('../img/icons-social-media.png');
    background-position: -200px 0;
    background-repeat: no-repeat;
}
.image-icon.facebook {
    background-position: 0 0;
}
.image-icon.flickr {
    background-position: -16px 0;
}
.image-icon.instagram {
    background-position: -32px 0;
}
.image-icon.pinterest {
    background-position: -48px 0;
}
.image-icon.twitter {
    background-position: -64px 0;
}
.image-icon.youtube {
    background-position: -80px 0;
}
.image-icon.medium {
    background-position: -96px 0;
    width: 18px;
}
.image-icon.itunes {
    background-position: -114px 0;
}

.image-icon.github {
    background-image: url('../img/GitHub-Mark-16px.png');
    background-position: 0;
    width: 16px;
    height: 16px;
}

/* Registration page */
#registration-form-container > .col-md-6 {
    max-width: 30rem;
}
