// typography
$concordia-app-font-size-xs: $font-size-base * .8125;
$concordia-app-font-size-xl: $font-size-base * 1.5;
$concordia-app-line-height-xs: 1.4;

// footer
$concordia-app-footer-height: $line-height-lg * 1rem;
