$gray-100: #f6f6f6;
$gray-200: #efefef;
$gray-300: $gray-200;
$gray-400: #bfbfbf;
$gray-500: $gray-400;
$gray-600: #808080;
$gray-700: #545454;
$gray-800: #242424;
$gray-900: $gray-800;

$blue: #0076ad;
$orange: #f05129;
$green: #218739;
$red: #d1332e;
$navy: #002347;

$dark: $gray-900;
$accent: $orange;
$error: $red;
$light: $gray-100;
$secondary: $gray-700;

$theme-colors: (
    'accent': $orange,
    'error': $red,
    'info': $blue,
    'warning': $secondary,
);

$mark-bg: #caeea4;

// additional sizes
$sizes: (
    1: 1%,
    30: 30%,
    35: 35%,
    40: 40%,
    60: 60%,
    65: 65%,
);

// typography
$font-family-sans-serif: 'Open Sans', arial, helvetica, sans-serif;
$font-family-serif: 'Roboto Slab', arial, helvetica, serif;
$headings-font-weight: 700;

// Breadcrumbs
$breadcrumb-padding-y: 7px;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: 0.25rem;
$breadcrumb-margin-bottom: 0;
$breadcrumb-bg: transparent;
$breadcrumb-active-color: $dark;

// carousel
$carousel-control-color: black;
$carousel-control-width: 8%;
$carousel-control-opacity: 1;
$carousel-indicator-width: 12px;
$carousel-indicator-height: 12px;
$carousel-control-icon-width: 3.5rem;

// dropdown
$dropdown-padding-y: 0.4rem;
$dropdown-item-padding-y: 3px;
$dropdown-item-padding-x: 1rem;
$dropdown-divider-margin-y: 5px;

// small font size
$small-font-size: 87.5%;

// inline list
$list-inline-padding: 12px;

// variables that are placed below dependent on bootstrap variables
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';

// navbar
$navbar-toggler-font-size: 32px;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-light-color: $dark;
$navbar-light-active-color: $dark;
$navbar-light-disabled-color: rgba($black, 0.55);

// forms
$input-border-color: $gray-500;
$label-margin-bottom: 0.4rem;
$form-group-margin-bottom: 1.5rem;

// buttons
$btn-font-weight: $font-weight-bold;

// headings
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base;

// border
$border-color: $gray-500;
$hr-border-color: $gray-500;

// alert
$alert-bg-level: 0;
$alert-border-level: 0;
$alert-color-level: -12;
$alert-padding-y: 9px;
$alert-padding-x: 1rem;

@import '../../../node_modules/bootstrap/scss/bootstrap';

// progress
$bg-completed: $dark;
$bg-submitted: $primary;
/* stylelint-disable-next-line scss/no-global-function-names */
$bg-in-progress: lighten($primary, 30%);
$bg-not-started: #fff;

// shadow
/* stylelint-disable-next-line color-function-notation */
$shadow-color: rgba(51, 51, 51, 80%); /* #333333 */

html,
#contribute-main-content {
    background-color: $white;
    color: $dark;
    overflow-x: hidden;
}

body {
    color: $dark;
    border-top: 4px solid $accent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 1 0%;
}

.close {
    opacity: 1;
}

.alert {
    color: #fff;

    .alert-link {
        color: #fff;
        text-decoration: underline;
    }

    &.alert-light {
        color: $dark;

        .alert-link {
            color: $dark;
        }
    }
}

.font-serif {
    font-family: $font-family-serif;
}

h1,
.h1 {
    font-family: $font-family-serif;
    font-weight: bold;
}

a .campaign-title:hover,
.hero-text a:hover {
    color: $dark;
    text-decoration: underline;
}

p.hero-secondary {
    font-family: $font-family-sans-serif;
    font-size: 1.125rem;
    color: $dark;
}

p.hero-secondary.offwhite-text {
    font-family: $font-family-sans-serif;
    font-size: 1.125rem;
    color: #fff;
}

.bg-completed {
    background-color: $bg-completed;
}

.bg-submitted {
    background-color: $bg-submitted;
}

/* stylelint-disable-next-line selector-class-pattern */
.bg-in_progress {
    background-color: $bg-in-progress;
}

/* stylelint-disable-next-line selector-class-pattern */
.bg-not_started {
    background-color: $bg-not-started;
    border: 1px solid $primary;
}

.completed-bar {
    background-color: $navy;
    color: $white;
}

.completed-text {
    padding: 0.3em;
}

.retired-bar {
    background-color: $light;
    color: $blue;
    border: 2px solid $blue;
}

.retired-text {
    padding: 0.3em;
}

input {
    color: $dark;
    background-color: #fff;
}

hr {
    color: $secondary;
}

.navbar-brand {
    @include media-breakpoint-down(md) {
        max-width: 350px;
    }

    @include media-breakpoint-down(xs) {
        max-width: 250px;
    }
}

ul.nav-secondary {
    position: absolute;
    top: 1rem;
    right: 15px;
    margin: 0 -10px;

    .nav-link {
        padding: 0 10px;
    }

    li {
        line-height: 1;

        &:first-of-type {
            border-right: 1px solid $border-color;
        }
    }
}

.flex-initial {
    flex: initial !important;
}

#transcription-input-container {
    width: 99% !important;
}

/*
 * vertical and horizontal dividers
 */

.navbar-brand .vl {
    height: 6rem;
    background-color: $secondary;
    width: 0.0675rem;
}

.border-login-register {
    border-left: solid 0.0675rem $dark;
}

.border-left-home-contribute {
    border-left: solid 0.0675rem $gray-100;
}

.navbar-nav {
    margin-right: -0.5rem;

    @include media-breakpoint-down(md) {
        margin: 0;
        padding: 0.5rem 1rem;
        background-color: $light;
    }
}

.navbar-nav .nav-link {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        padding-bottom: 0;
    }

    &.active {
        font-weight: bold;
    }
}

.logo-loc {
    border-right: 1px solid $border-color;
    margin: 0 15px 0 0 !important;
    padding-right: 15px;
}

.landing-divider {
    margin: 0.25em;
}

/* Forms */

.form-group-required label {
    font-weight: bold;
}

/* Cards */

$card-img-height: 14.8rem;
$card-btn-height: 31px;
$card-progress-height: 12px;

.card-body {
    padding: 1rem 0.5rem;
}

.card-img-campaign {
    object-position: center top;
    object-fit: cover;
    height: $card-img-height;
}

.card-img-overlay {
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 3.0675rem;
    padding: 0.5rem 1.25rem;
}

.card-img-overlay.img-campaign {
    padding: 0;
}

.card-title {
    margin-bottom: 0.5rem;
}

.img-project {
    min-height: 13.125rem;
}

.round-corners-bottom {
    border-radius: 0 0 0.5rem 0.5rem;
}

.img-fluid.rounded-circle {
    max-height: 15rem;
    width: auto;
}

.shadow-regular {
    box-shadow: 0 0 0.25rem $shadow-color;
}

/*
 * Common navigational elements
 */

.breadcrumb-wrapper {
    font-size: 13px;
}

.breadcrumb-item {
    max-width: 20em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-link {
    text-decoration: underline;
    padding-top: 1em;
    padding-bottom: 0.25em;
}

.underline-link {
    text-decoration: underline;
}

/*
 * List-like displays for items and assets
 */

.concordia-object-card-row {
    margin: 0 -6px;
}

.concordia-object-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 0.25em;
}

.concordia-object-card-col {
    padding: 6px;

    @include media-breakpoint-up(xl) {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.concordia-object-card {
    background-color: $gray-100;
    overflow: hidden;
}

.concordia-object-card-title {
    padding: 12px 10px;
}

.concordia-object-card .card-title,
.concordia-object-card .card-actions {
    position: absolute;
    left: 0;
    right: 0;
}

.concordia-object-card[data-transcription-status='completed']:not(:hover)
    .card-img {
    opacity: 0.4;
}

.concordia-object-card .card-img {
    transition: 0.3s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.concordia-object-card:hover .card-img,
.concordia-object-card:focus .card-img {
    transform: scale(1.05);
}

.concordia-object-card .card-title {
    bottom: 0;
    padding: 2px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.875rem; // add this line
    position: static; // add this line
}

.concordia-object-card .card-actions {
    top: calc(
        #{$card-img-height} - #{$card-btn-height - $card-progress-height}
    );
    z-index: 3;
    .view-transcriptions--item-detail & {
        top: 0;
    }
}

.concordia-object-card .card-actions .btn {
    height: $card-btn-height;
    border-radius: 0;
}

.concordia-object-card .card-actions .btn-default:not(:hover) {
    background-color: $shadow-color; // add this line
    border-color: $shadow-color; // add this line
    color: #fff; // add this line
}

.concordia-object-card .card-img-container {
    display: block;
    height: 100%;
    width: 100%;
}

.card.concordia-object-card .progress {
    height: $card-progress-height;
    border-radius: 0;
    position: relative;
    z-index: 2;
}

.progress {
    background-color: #e5f7ff;

    &::after {
        content: '';
        background-color: #fff;
        flex: 1 1 0%;
    }

    &.campaign-progress::after {
        box-shadow: inset 0 0 1px 1px $primary;
    }
}

.campaign-page-progress {
    height: 2.5rem;
}

.campaign-progress {
    height: 35px;
    margin-top: 20px;
}

.page-item.disabled .page-link {
    color: black;
}

.page-item.active .page-link {
    background-color: #fff;
    border-color: #efefef;
    color: $gray-800;
}

/*
 * Progress displays
 */

#progress-bar {
    height: 1rem;
    border-radius: 0;
}

.progress-bar-label {
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
}

.progress-bar-label span:nth-child(2) {
    margin-left: 5px;
}

#progress-stats {
    font-size: smaller;
}

#progress-stats th {
    font-size: inherit;
    font-weight: inherit;
}

.progress-bar-labels li {
    float: left;
}

.progress-bar-labels li + li::before {
    content: '|';
    padding: 0 0.5em;
}

.transcription-status-key-lg {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: top;
    margin: 0.25rem !important;
}

.transcription-status-key {
    display: inline-block;
    height: 0.6em;
    width: 0.6em;
    vertical-align: baseline;
}

// Campaign small blocks

.small-campaign-title {
    min-height: 6ex;
}

.small-campaign-description {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

/*
 * Homepage customizations
 */

.carousel-item {
    img {
        background-color: $light;
    }
}

.carousel-overlay {
    padding: 10px 3rem 1rem;

    @include media-breakpoint-up(lg) {
        padding: 25px;
        background-color: white;
        position: absolute;
        top: 50px;
        left: 100px;
        width: 420px;

        [data-overlay-position='top-right'] & {
            left: auto;
            right: 100px;
        }
    }

    .title {
        font-size: 2.25rem;
    }
}

@include media-breakpoint-down(md) {
    .carousel-control-next,
    .carousel-control-prev {
        margin-top: 40%;
    }
}

@include media-breakpoint-up(lg) {
    .carousel-control-next-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%2255%22%20viewBox%3D%220%200%2033%2055%22%20width%3D%2233%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22m1221.23218%20395.14282c0%20.428572-.21429.910716-.53571%201.232145l-24.96432%2024.964315c-.32143.321429-.80357.535715-1.23214.535715-.42858%200-.91072-.214286-1.23215-.535715l-2.67857-2.678574c-.32143-.321429-.53572-.750001-.53572-1.232145%200-.428572.21429-.910715.53572-1.232144l21.05359-21.053597-21.05359-21.053596c-.32143-.321429-.53572-.803573-.53572-1.232144%200-.428572.21429-.910716.53572-1.232145l2.67857-2.678574c.32143-.321429.80357-.535715%201.23215-.535715.42857%200%20.91071.214286%201.23214.535715l24.96432%2024.964315c.32142.321429.53571.803572.53571%201.232144z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23333%22%20stroke-width%3D%22.5%22%20transform%3D%22translate%28-1189%20-368%29%22/%3E%3C/svg%3E');
    }

    .carousel-control-next:hover .carousel-control-next-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%2255%22%20viewBox%3D%220%200%2033%2055%22%20width%3D%2233%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22m1221.23218%20395.14282c0%20.428572-.21429.910716-.53571%201.232145l-24.96432%2024.964315c-.32143.321429-.80357.535715-1.23214.535715-.42858%200-.91072-.214286-1.23215-.535715l-2.67857-2.678574c-.32143-.321429-.53572-.750001-.53572-1.232145%200-.428572.21429-.910715.53572-1.232144l21.05359-21.053597-21.05359-21.053596c-.32143-.321429-.53572-.803573-.53572-1.232144%200-.428572.21429-.910716.53572-1.232145l2.67857-2.678574c.32143-.321429.80357-.535715%201.23215-.535715.42857%200%20.91071.214286%201.23214.535715l24.96432%2024.964315c.32142.321429.53571.803572.53571%201.232144z%22%20fill%3D%22%23FC4C02%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23fff%22%20stroke-width%3D%22.5%22%20transform%3D%22translate%28-1189%20-368%29%22/%3E%3C/svg%3E');
    }

    .carousel-control-prev-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%2255%22%20viewBox%3D%220%200%2033%2055%22%20width%3D%2233%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22m100.946469%20372.85708c0%20.428571-.214286.910715-.535715%201.232144l-21.0535968%2021.053596%2021.0535968%2021.053597c.321429.321429.535715.803572.535715%201.232144s-.214286.910716-.535715%201.232145l-2.6785749%202.678574c-.321429.321429-.8035724.535715-1.2321444.535715-.4285719%200-.9107153-.214286-1.2321443-.535715l-24.9643155-24.964315c-.3214289-.321429-.5357149-.803573-.5357149-1.232145s.214286-.910715.5357149-1.232144l24.9643155-24.964315c.321429-.321429.8035724-.535715%201.2321443-.535715.428572%200%20.9107154.214286%201.2321444.535715l2.6785749%202.678574c.321429.321429.535715.750001.535715%201.232145z%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23333%22%20stroke-width%3D%22.5%22%20transform%3D%22translate%28-69%20-368%29%22/%3E%3C/svg%3E');
    }

    .carousel-control-prev:hover .carousel-control-prev-icon {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20height%3D%2255%22%20viewBox%3D%220%200%2033%2055%22%20width%3D%2233%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22m100.946469%20372.85708c0%20.428571-.214286.910715-.535715%201.232144l-21.0535968%2021.053596%2021.0535968%2021.053597c.321429.321429.535715.803572.535715%201.232144s-.214286.910716-.535715%201.232145l-2.6785749%202.678574c-.321429.321429-.8035724.535715-1.2321444.535715-.4285719%200-.9107153-.214286-1.2321443-.535715l-24.9643155-24.964315c-.3214289-.321429-.5357149-.803573-.5357149-1.232145s.214286-.910715.5357149-1.232144l24.9643155-24.964315c.321429-.321429.8035724-.535715%201.2321443-.535715.428572%200%20.9107154.214286%201.2321444.535715l2.6785749%202.678574c.321429.321429.535715.750001.535715%201.232145z%22%20fill%3D%22%23FC4C02%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23fff%22%20stroke-width%3D%22.5%22%20transform%3D%22translate%28-69%20-368%29%22/%3E%3C/svg%3E');
    }
}

.carousel-indicators {
    > li {
        border-radius: 50%;
        border: 1px solid $dark;
        opacity: 1;

        &.active {
            background-color: $accent;
            border-color: $white;
        }
    }
}

.aspect-ratio-box {
    height: 0;
    overflow: hidden;
    /* stylelint-disable-next-line scss/no-global-function-names */
    padding-top: percentage(9 / 16);
    position: relative;

    @include media-breakpoint-up(sm) {
        /* stylelint-disable-next-line scss/no-global-function-names */
        padding-top: percentage(240 / 320);
    }
}

.aspect-ratio-box-inner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#homepage-contribute-activities {
    img {
        @include media-breakpoint-down(sm) {
            max-width: 100px;
        }
    }
}

#homepage-next-transcribable-links {
    position: relative;

    &::before {
        content: '';
        width: calc(100% - 2rem);
        position: absolute;
        border-top: 1px solid #000;

        @include media-breakpoint-up(md) {
            width: 725px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
        }
    }
}

/*
 * Asset detail page
 *
 * This page wants to display as much as possible and so the entire page is a flex column
 */

#contribute-main-content {
    position: relative;
}

#contribute-main-content h2 {
    font-size: inherit;
}

#asset-navigation {
    margin: 0 -0.25rem;
    padding-top: 3px;
    padding-bottom: 3px;
}

#contribute-container {
    @include media-breakpoint-up(md) {
        height: calc(100vh - 53px);
    }
}

@include media-breakpoint-down(sm) {
    #contribute-container {
        flex-direction: column !important;
    }

    #asset-image {
        height: 50vh !important;
    }

    #transcription-editor textarea {
        height: 30vh;
    }

    .gutter.gutter-horizontal {
        display: none !important;
    }

    .gutter.gutter-vertical {
        display: none !important;
    }
}

#viewer-controls .btn-dark {
    &:hover,
    &:focus {
        border-color: $light;
    }
}

.gutter.gutter-horizontal {
    display: block;
    position: relative;
    cursor: ew-resize;
    background-color: $gray-400;
}

.gutter.gutter-horizontal::after {
    display: block;
    position: absolute;
    top: calc(50% - 40px);
    left: -4px;
    content: '';
    height: 40px;
    width: 16px;
    background: url('../img/handle.svg') no-repeat;
}

.gutter.gutter-vertical {
    display: block;
    position: relative;
    cursor: ns-resize;
    background-color: $gray-400;
    width: 100%;
}

.gutter.gutter-vertical::after {
    display: block;
    position: absolute;
    top: -4px;
    left: calc(50% - 60px);
    content: '';
    height: 16px;
    width: 60px;
    background: url('../img/handle-vertical.svg') no-repeat;
}

#transcription-editor textarea {
    resize: none;
}

/* Help Center */

.help-center-card {
    color: #fff;
    height: 225px;
    background-color: $accent;
    margin-bottom: 1rem;
}

.help-center-card a {
    color: #fff;
}

.help-center .nav-link {
    padding: 0.5rem;
}

.help-center a.nav-link {
    color: #0076ad;
    font-weight: bold;
}

.help-center a.nav-link.active {
    color: #242424;
}

/*
 * Image filter controls
*/

#image-filters .btn-dark {
    text-decoration: underline;
    border-radius: 0;

    &:hover,
    &:focus,
    &.active {
        color: $dark;
        background-color: $light;
        text-decoration: none;
        font-weight: 400;
        border-color: $light;
        outline: none;
        box-shadow: none;
    }
}

#filter-tabs {
    background-color: $light;
    height: 3em;

    & .custom-control-label::before {
        height: 1.5rem;
        width: 2.75rem;
        border-radius: 4rem;
    }

    & .custom-control-label::after {
        width: calc(1.5rem - 4px);
        height: calc(1.5rem - 4px);
        border-radius: 1.25rem;
    }

    & .custom-control-input:checked ~ .custom-control-label::after {
        transform: translateX(1.25rem);
    }

    & .custom-control-input ~ .custom-control-label::before {
        border-color: $dark !important;
    }

    & .custom-control-input ~ .custom-control-label::after {
        background-color: $white !important;
        border: solid 1px $dark !important;
        left: calc(-2.25rem + 4px);
    }

    & .custom-control-input:focus ~ .custom-control-label::before {
        border-color: $dark !important;
    }

    & .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $dark !important;
        background-color: $dark !important;
    }

    & .custom-control-input:active ~ .custom-control-label::before {
        background-color: $dark !important;
        border-color: $dark !important;
    }

    &
        .custom-control-input:focus:not(:checked)
        ~ .custom-control-label::before {
        border-color: $dark !important;
    }
}

#viewer-reset {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    border-radius: 0;
}

.filter-slider {
    appearance: none;
    border: solid 1px $dark;
    height: 0.5em;
    background: $white;
}

.filter-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.1em;
    height: 1.5em;
    background: $primary;
    cursor: pointer;
    border-radius: 20%;
}

.filter-slider::-moz-range-thumb {
    appearance: none;
    width: 1.1em;
    height: 1.5em;
    background: $primary;
    cursor: pointer;
    border-radius: 20%;
}

.number-input {
    border: solid 1px $primary;
    background-color: $white;

    & input[type='number'] {
        border: none;
        appearance: textfield;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        height: 100%;
        width: 100%;
    }

    & input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }

    & input[type='number']:focus {
        outline: none;
    }

    & .arrow-button {
        background-color: $primary;
        color: $white;
        font-size: 0.8em;
        width: 100%;
        border: none;
        padding: 0;
    }
}

/*
 * Tag input on the asset detail page
 */
#tag-label {
    [data-toggle='collapse'][aria-expanded='true'] .fas::before {
        content: '\f146';
    }

    [data-toggle='collapse'].collapsed .fas::before {
        content: '\f0fe';
    }
}

#current-tags {
    margin: 5px -2px 0;

    > li {
        margin: 2px;

        > button {
            color: inherit;
            font-size: inherit;
            padding: 0;
            margin: 0 0 0 5px;
            float: none;
            line-height: inherit;
            opacity: 1;
            text-shadow: none;
        }
    }
}

/*
 * Tutorial popup and cards navigation
 */
#tutorial-popup .modal-header {
    padding-bottom: 0.25rem;
}

#tutorial-popup .modal-body {
    padding-top: 0.25rem;
}

#tutorial-popup .close {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
}

#card-carousel .carousel-item img {
    background-color: #fff;
    border-top: 1px solid #efefef;
    padding-bottom: 1rem;
}

#card-carousel .carousel-item h5 {
    margin-bottom: 0;
}

#card-carousel .carousel-item p {
    margin-bottom: 0.75rem;
}

#card-carousel ul {
    padding-left: 1.5rem;
}

#card-carousel .carousel-indicators {
    left: 50%;
    width: 60%;
    margin-left: -30%;
    text-align: center;
}

#card-carousel .carousel-indicators > li.active {
    background-color: #007bff;
    border-color: #007bff;
}

#previous-card {
    position: absolute;
    bottom: 10px;
    left: 0;
}

#next-card {
    position: absolute;
    bottom: 10px;
    right: 0;
}

/* How to Guide */
#open-guide {
    transform: rotate(-90deg) translateY(-50%);
    position: absolute;
    border-radius: 0;
    right: 0;
    font-size: 0.75rem;
    margin-right: -55px;
    margin-top: 39px;
    width: 110px;
}

#close-guide {
    height: 30.5px;
    margin: 0 1rem -1rem auto;
    padding-top: 0.5rem;
}

.sidebar {
    height: 580px; /* 100% Full-height */
    width: 450px;
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 129px;
    right: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.3s;
    background-color: $white;
}
.sidebar.offscreen {
    transform: translateX(100%);
}

.sidebar h3 {
    padding-top: 0.5rem;
}

.sidebar li {
    border-bottom: thin solid $gray-400;
}

.sidebar .nav-item a {
    font-size: $font-size-base * 1.25;
    text-decoration: underline;
}

.guide-body {
    max-height: 462.2px;
    overflow: scroll;
}

.guide-body h3 {
    font-size: 1rem;
    font-weight: bold;
}

#title-bar {
    font-weight: 700;
}

.toc-title {
    font-weight: 600;
}

#guide-bars {
    color: #fff;
    padding-top: 0.25rem;
}

.sidebar .close {
    font-size: $font-size-base * 0.875;
}

/*
 * Campaign Resources Panel
 */

div.related-links {
    background-color: #ddd;
    border: #000 1px solid;
}

.related-links .list-group-item {
    background-color: #ddd;
    border: 0;
    padding-left: unset;
}

/*
* Footer
*/

.footer {
    margin-top: 1.5rem;

    .footer-links {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            border-top: none;
            border-bottom: none;
            border-left: 1px solid $border-color;
            border-right: 1px solid $border-color;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;

            > ul > li {
                display: block;
            }
        }
    }

    .intersites-link-congress a {
        display: block;
        width: 121px;
        height: 24px;
        background: url('../img/congress-gov.svg') no-repeat;
        background-size: 121px 24px;
    }

    .intersites-link-copyright a {
        display: block;
        width: 176px;
        height: 24px;
        background: url('../img/copyright-gov.svg') no-repeat;
        background-size: 176px 24px;
    }
}

.bitmap-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: text-top;
    background-image: url('../img/social-icons-sprite.png');
    background-position: -200px 0;
    background-repeat: no-repeat;

    &.github-icon {
        background-position: 0 0;
    }

    &.twitter-icon {
        background-position: -40px 0;
    }

    &.email-icon {
        background-position: -80px 0;
    }

    &.facebook-icon {
        background-position: -40px -36px;
    }

    &.copy-link-icon {
        background-position: -80px -36px;
    }
}

/* Registration page */
#registration-form-container > .col-md-6 {
    max-width: 30rem;
}

/* This is here to fix
    https://github.com/LibraryOfCongress/concordia/issues/1127
    until https://github.com/twbs/bootstrap/issues/29439 is fixed */

#registration-form-container .invalid-feedback {
    display: block;
}

/* Profile page */
.contribution-highlight {
    background-color: #f6f6f6;
    border: 1px solid black;
    flex: 1;
    font-weight: bold;
    margin: 0.5rem;
    padding-bottom: 15px;
    padding-top: 5px;
    text-align: center;
}

.contribution-highlight .value {
    color: $blue;
    font-size: xxx-large;
}

.contribution-highlight .label {
    font-size: large;
}

.contribution-table a {
    text-decoration: underline;
}

.recent-page a {
    text-decoration: underline;
}

.all-campaigns {
    text-decoration: underline;
}

/* stylelint-disable-next-line selector-class-pattern */
input.duet-date__input {
    border-radius: 0;
}

table.table thead.border-y {
    th,
    td {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;
    }
}

#current-filters {
    margin-bottom: 0.75rem;
    padding: 0.375rem 0;
}

#current-filters ul {
    padding-left: 0.5rem;
}

#current-filters .btn {
    border-color: $blue;
    color: $blue;
}

#current-filters li {
    background-color: $white;
}

#current-filters label {
    padding-left: 5px;
    padding-top: 1px;
}

.btn-xs {
    font-size: 12px;
    padding: 0 0.12rem;
}

.btn-xs .btn {
    font-size: 14px;
    padding: 0 0.12rem;
}

#current-filters li .btn {
    border: none;
    padding-right: 4px;
}

/* stylelint-disable-next-line selector-id-pattern */
#nav-tabContent .dropdown-menu a:hover {
    background-color: $navy;
    color: $light;
}

.change-options {
    background-color: $gray-200;
}

.tab-pane th {
    cursor: pointer;
}

.tab-pane th.date-header {
    cursor: default;
}

.user-fields {
    margin-bottom: ($spacer * 1.5) !important;
    max-width: 450px;
}

#validation-confirmation {
    font-size: 87.5%;
}

/* print */
@media print {
    @page {
        margin: 0.75in;
    }

    body {
        border-style: none;
        background-color: transparent;
        font-size: 14pt;
    }

    header .navbar {
        padding: 0;
        background-color: transparent;
    }

    #navigation-container {
        border-style: none;
        padding: 0;
    }

    #contribute-container {
        border-style: none;
    }

    .print-transcription-image {
        page-break-before: always;
    }

    #contribute-container .gutter-horizontal {
        display: none;
    }

    #contribute-container .gutter-vertical {
        display: none;
    }

    #contribute-container #editor-column .tx-status-display {
        font-size: 24px;
        margin: 2rem 0;
    }

    #contribute-container #editor-column .print-transcription-text {
        display: block !important;
        white-space: pre-wrap;
        color: #000;
    }

    #current-tags {
        max-height: none;
    }

    #current-tags li {
        background-color: transparent;
        color: #000;
        display: inline-block;
    }
}

/* Profile page */
.view-user-profile .nav-tabs,
.view-email-reconfirmation .nav-tabs {
    border-bottom: 1px solid #000;
}

.view-user-profile .nav-tabs .nav-link.active,
.view-user-profile .nav-tabs .nav-item.show .nav-link,
.view-email-reconfirmation .nav-tabs .nav-link.active,
.view-email-reconfirmation .nav-tabs .nav-item.show .nav-link {
    border-color: #000 #000 #fff;
}

/* Accessibility */
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

/* Error pages */
figure.error-figure {
    img {
        max-width: 75%;
    }

    figcaption {
        padding-top: 5px;
        font-size: 12px;
    }
}
