{% extends "wireframes/base.html" %}
{% block head %}
    <style type="text/css" media="screen">
        
        .content {
            width: 1024px;
            height: 2000px;
            background-image: url("/wireframes/images/8.png");
        }
    </style>
{% endblock head %}
{% block main_content %}
    <textarea id="transcription">Lorem ipsum! Dolor sit amet, consectetur adipiscing elit. Fusce sit amet dolor eget nunc euismod imperdiet ut nec augue. Aenean leo orci, tincidunt id ligula nec, lacinia sollicitudin ante. 

Ivamus sed porta ex, vel consequat velit. Donec pellentesque sem eget malesuada accumsan. In a urna sit amet dolor pharetra ultricies vitae efficitur mauris. 

Integer nec malesuada felis. Nam neque dolor, interdum vitae tortor quis, bibendum vulputate dui. Phasellus fringilla tempus tellus in tincidunt. Mauris ac accumsan urna. Pellentesque euismod dignissim nulla, blandit commodo lorem tincidunt et. Nulla nec leo a tellus feugiat facilisis eget in elit. Donec vestibulum mi quis vestibulum molestie. Vestibulum vel ornare nibh.</textarea><textarea id="transcription2">Fusce commodo fringilla diam, non varius sapien maximus id. Nunc eget lorem semper leo feugiat efficitur in at purus.</textarea><a href="page9.html" id="link0" style="top:858px; left:714px; width:88px; height:32px;"></a><a href="page5.html" id="link1" style="top:120px; left:100px; width:95px; height:35px;"></a>      
        <a href="page8.html"></a>
{% endblock main_content %}
		
