{% load static staticfiles %}
{% load humanize %}
<html lang="en-US">
    <head>
        <style>
            @page { size: A4; margin: 1.1cm; }
            a { text-decoration: none; color: black; }
            p { font-family: Arial; font-size: 11pt; line-height: 1.4;}
            img { width: 35%; height: auto; }
        </style>
        <title>Service Letter</title>
    </head>
    <body>
        <p><img src="{{ image_url }}" alt="Library Logo" /><br /><br /><br /></p>
        <p>
            Library of Congress<br />
            101 Independence Avenue SE<br />
            Washington, DC 20540<br />
        </p>
        <p>
            {% now "m/d/Y" %}<br /><br />
        </p>
        <p>To whom it may concern,</p>
        <p>I am writing to confirm this volunteer's participation in the Library of Congress virtual volunteering program <a href="https://crowd.loc.gov"><em>By the People</em> (https://crowd.loc.gov)</a>. The project invites anyone to help the Library by transcribing, tagging, and reviewing transcriptions of digitized historical documents from the Library's collections. Transcriptions make the content of handwritten and other documents keyword searchable on the <a href="https://www.loc.gov">Library's main website (https://loc.gov)</a>, open new avenues of digital research, and improve accessibility, including for people with visual or cognitive disabilities.</p>
        <p>They registered as a <em>By the People</em> volunteer on {{ join_date|date:"m/d/Y" }} as {{ username }}. They made {{ total_transcriptions|intcomma }} edits to transcriptions on the site and reviewed {{ total_reviews|intcomma }} transcriptions by other volunteers. Their user profile provides further details.</p>
        <p>Best,<br /><br /></p>
        <p>Lauren Algee</p>
        <p>
            crowd@loc.gov<br />
            Community Manager, <em>By the People</em><br />
            Digital Content Management Section<br />
            Library of Congress
        </p>
    </body>
</html>
