{% extends "admin/change_form.html" %}


{% block content %}
    {{ block.super }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js" integrity="sha256-ltAts6+/XysEs9E5RF/t0H+0eD3ET6NpbqzshWkqeic=" crossorigin="anonymous"></script>
    <script>
        (function ($) {
            var md = new Remarkable({html: true});

            var $bodyRow = $(".field-body");
            $bodyRow.find('label').remove();

            var $bodyInput = $('#id_body');
            var $bodyPreview = $('<div id="id_body_preview" class="container">');

            $bodyPreview.insertAfter($bodyInput);
            $bodyPreview.on('change', function () {
                $bodyPreview.empty().html(md.render($bodyInput.val()));
            }).trigger('change');
        })(django.jQuery);
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" crossorigin="anonymous" />
    <style>
        .field-body > div {
            display: flex;
        }

        .field-body > div > * {
            flex-basis: 50%;
            overflow-y: auto;

            min-height: 500px;
        }
    </style>
{% endblock content %}
