{% extends "base.html" %}

{% load bootstrap4 %}

{% block main_content %}
    <div class="container">
        <ul class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link font-weight-bold" aria-selected="false" id="contributions-tab" type="button" role="tab" href="{% url 'user-profile' %}">My Contributions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" aria-selected="false" id="recent-tab" type="button" role="tab" aria-controls="recent" href="{% url 'user-profile' %}#recent">Recent Pages Worked On</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold active" aria-selected="true" id="account-tab" type="button" role="tab" href="{% url 'user-profile' %}#account">Account Settings</a>
            </li>
        </ul>
        <div class="row">
            <div class="col-md-8 mx-auto p-3">



            </div>
        </div>
        <div class="col-12 col-md-10 py-3 mt-4 change-options">
            <div class="d-flex">
                <h2>Delete your account?</h2>
            </div>
            <div class="d-flex">
                <p>By clicking the button below, all of your account information will be permanently removed from our system. This cannot be undone!</p>
            </div>
            <form class="form" action="{% url 'account-deletion' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group-append">
                    {% bootstrap_button "Delete Account" button_type="submit" button_class="btn btn-primary rounded-0" name="submit_delete" %}
                </div>
            </form>
        </div>
    </div>
{% endblock main_content %}
