{% extends "base.html" %}

{% load humanize %}
{% load staticfiles %}
{% load django_bootstrap5 %}

{% block prefetch %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />
{% endblock prefetch %}

{% block title %}User Profile{% endblock title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Account</li>
{% endblock breadcrumbs %}

{% block main_content %}
    <div class="container bg-main profile-page" data-active-tab="{{ active_tab }}">
        <ul class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link fw-bold{% if active_tab == 'contributions' %} active{% endif %}" aria-selected="{% if active_tab == 'contributions' %}true{% else %}false{% endif %}" id="contributions-tab" data-bs-toggle="tab" data-bs-target="#contributions" type="button" role="tab">My Contributions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold{% if active_tab == 'recent' %} active" aria-selected="true"{% else %} aria-selected="false"{% endif %} id="recent-tab" data-bs-toggle="tab" data-bs-target="#recent" type="button" role="tab" aria-controls="recent" href="#recent">Recent Pages Worked On</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold{% if active_tab == 'account' %} active" aria-selected="true"{% else %} aria-selected="false"{% endif %} id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" href="#account">Account Settings</a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade{% if active_tab == 'account' %} show active{% endif %}" id="account" role="tabpanel" aria-labelledby="account-tab">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-10">
                        <h2>Account Settings</h2>
                        <div class="mb-2">
                            <span class="fw-bold">Username</span>: {{ user.username }}
                        </div>
                    </div>
                    <div class="col-12 col-md-10 py-3 change-options">
                        <div class="mt-1 mb-3">
                            <span class="fw-bold">Email address</span>: {{ user.email }}
                        </div>
                        {% if unconfirmed_email %}
                            <div class="mt-1 mb-3">
                                <span class="fw-bold">Unconfirmed email address</span>: {{ unconfirmed_email }}
                            </div>
                        {% endif %}
                        <form class="form needs-validation" action="{% url 'user-profile' %}" method="POST" enctype="multipart/form-data" novalidate>
                            {% csrf_token %}

                            <div class="input-group mb-3 user-fields">
                                <label for="id_email"><span class="visually-hidden">Email</span></label>
                                <input type="email" name="email" placeholder="Change your email address" class="form-control fst-italic" title="" required="" id="id_email" required>
                                <div class="input-group-append">
                                    {% bootstrap_button "Save Change" button_type="submit" button_class="btn btn-primary rounded-0" name="submit_email" %}
                                </div>
                                {% if valid is True %}
                                    <div class="mt-1 text-success w-100" id="validation-confirmation"><i class="fa fa-check-circle"></i> Email changed successfully; <strong>Check email to confirm address</strong></div>
                                {% else %}
                                    <div class="invalid-feedback" {% if valid is not None and valid is False %}style="display: block;" aria-hidden="false"{%endif %}>
                                        <i class="fa fa-exclamation-circle"></i> Error in email change
                                    </div>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-10 py-3 mt-4 change-options">
                        <div class="row justify-content-start">
                            <div class="btn-row col-md-10">
                                <a class="btn btn-primary rounded-0" href="{% url 'password_change' %}">Change Password</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-10 py-3 mt-4 change-options">
                        <div class="mb-2">Optional: If you want a name to appear on your service letter, enter first and last name and click "Save". To remove name data click "Save" without entering any text.</div>
                        <form class="form" action="{% url 'user-profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3 user-fields">
                                <label class="d-flex mb-2">
                                    <span class="fw-bold">First Name</span>: {{ user.first_name }}
                                </label>
                                <input name="first_name" placeholder="Enter your first name" class="form-control fst-italic">
                                <label class="mt-2">
                                    <span class="fw-bold">Last Name</span>: {{ user.last_name }}
                                </label>
                                <input name="last_name" placeholder="Enter your last name" class="form-control fst-italic">
                            </div>
                            <div class="input-group-append">
                                {% bootstrap_button "Save Changes" button_type="submit" button_class="btn btn-primary rounded-0" name="submit_name" %}
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-10 py-3 mt-4 change-options">
                        <div class="row justify-content-start">
                            <div class="btn-row col-md-10">
                                <a class="btn btn-primary rounded-0" href="{% url 'account-deletion' %}">Delete Account</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row tab-pane fade{% if active_tab == 'contributions' %} show active{% endif %}" id="contributions" role="tabpanel">
                {% if user_profile_activity %}
                    <div class="d-flex justify-content-start">
                        <div class="col-md">
                            <div class="d-flex">
                                <h2>My Contributions</h2>
                            </div>
                            <div>
                                <label><b>Account created: </b></label> {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
                            </div>
                            <div class="d-lg-flex" style="margin-right: -0.5rem; margin-left: -0.5rem;">
                                <div class="contribution-highlight">
                                    <div class="value">{{ user_profile_activity.count|intcomma }}</div>
                                    <p class="label">Campaigns</p>
                                    <p>Projects you've worked on</p>
                                </div>
                                <div class="contribution-highlight">
                                    <div class="value">{{ pages_worked_on|intcomma }}</div>
                                    <p class="label">Pages</p>
                                    <p>Pages you've worked on</p>
                                </div>
                                <div class="contribution-highlight">
                                    <div class="value">{{ totalCount|intcomma }}</div>
                                    <p class="label">Actions</p>
                                    <p>Your saves, submits, and reviews</p>
                                </div>
                            </div>
                            <div class="d-flex mt-4">
                                <table id="tblTranscription" class="table table-striped table-sm table-responsive-sm contribution-table">
                                    <thead class="border-y">
                                        <tr>
                                            <td></td>
                                            <th>Campaign</th>
                                            <th>
                                                <abbr title="Total number of times you saved, submitted a transcription" class="text-decoration-none">Saves & Submits</abbr>
                                            </th>
                                            <th>
                                                <abbr title="Total number of times you reviewed a transcription" class="text-decoration-none">Reviews</abbr>
                                            </th>
                                            <th><abbr title="Total number of times you saved, submitted, or reviewed a transcription" class="text-decoration-none">Total Actions</abbr></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-2"></td>
                                            <td class="campaign all-campaigns py-2" id="-1">
                                                <b><a href="{% url 'campaign-topic-list' %}">All Campaigns</a></b>
                                            </td>
                                            <td class="py-2"><b>{{ totalTranscriptions|intcomma }}</b></td>
                                            <td class="py-2"><b>{{ totalReviews|intcomma }}</b></td>
                                            <td class="py-2"><b>{{ totalCount|intcomma }}</b></td>
                                        </tr>
                                        {% for user_campaign in user_profile_activity %}
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <a class="campaign py-2" id={{user_campaign.campaign.id}} href="{% url 'transcriptions:campaign-detail' user_campaign.campaign.slug %}">
                                                        {{ user_campaign.campaign.title }}
                                                    </a>
                                                </td>
                                                <td class="py-2">{{ user_campaign.transcribe_count|intcomma }}</td>
                                                <td class="py-2">{{ user_campaign.review_count|intcomma }}</td>
                                                <td class="py-2">{{ user_campaign.total_actions|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-start bg-light">
                                <div class="col-12 py-3">
                                    <h3>Service Letter</h3>
                                    <div class="mb-3">Download a letter verifying your volunteer contributions, including a list of your transcription and review activity over the past six months.</div>
                                    <div class="row justify-content-start">
                                        <div class="btn-row col-md-10">
                                            <a class="btn btn-primary rounded-0" href="/letter">Download Letter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-start bg-light mt-4">
                                <div class="col-12 py-3">
                                    <h3>Volunteer Hours Spreadsheet</h3>
                                    <div class="mb-3">The <em>By the People</em> website doesn't track the number of hours you spend volunteering. Download a spreadsheet template that makes it easy keep your own record.</div>
                                    <div class="row justify-content-start">
                                        <div class="btn-row col-md-10">
                                            <a class="btn btn-primary rounded-0" href="https://crowd-content.s3.amazonaws.com/cm-uploads/resources/2023/btp_volunteer_hours_log_sheet.xlsx
                                                                                      ">Download Spreadsheet</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="tab-pane fade{% if active_tab == 'recent' %} show active{% endif %}" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                <div class="row justify-content-start" id="recent-pages"></div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block body_scripts %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.js"></script>
    {{ block.super }}
    {% if LOCAL_DEV %}
        <script type="module" src="http://localhost:5173/static/src/profile.js"></script>
    {% else %}
        <script type="module" src="{% static 'js/profile.js' %}"></script>
    {% endif %}
{% endblock body_scripts %}
