{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load bootstrap4 %}
{% load bittersweet_querystring %}

{% block prefetch %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/themes/default.css" />
{% endblock prefetch %}

{% block title %}User Profile{% endblock title %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Account</li>
{% endblock breadcrumbs %}

{% block main_content %}
    <div class="container bg-main profile-page">
        <ul class="nav nav-tabs mb-4" id="nav-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'contributions' %}active {% endif %}font-weight-bold" id="contributions-tab" data-toggle="tab" data-target="#contributions" type="button" role="tab">My Contributions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'pages' %}active {% endif %}font-weight-bold" id="pages-tab" data-toggle="tab" data-target="#pages" type="button" role="tab" aria-controls="pages">Recent Pages Worked On</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_tab == 'settings' %}active {% endif %}font-weight-bold" id="settings-tab" data-toggle="tab" data-target="#settings" type="button" role="tab">Account Settings</a>
            </li>
        </ul>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade{% if active_tab == 'settings' %} show active{% endif %}" id="settings" role="tabpanel">
                <div class="row justify-content-start">
                    <div class="col-12 col-md-10">
                        <h2>Account Settings</h2>
                        <div style="margin-bottom: 20px;">
                            <span class="font-weight-bold">User Name</span>: {{ user.username }}
                        </div>
                        <div class="mb-3">
                            <span class="font-weight-bold">Email address</span>: {{ user.email }}
                        </div>
                    </div>
                    <div class="col-12 col-md-10 py-3 change-options">
                        <form class="form" action="{% url 'user-profile' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="input-group mb-3 email-address">
                                <input type="email" name="email" placeholder="Change your email address" class="form-control font-italic" title="" required="" id="id_email">
                                <div class="input-group-append">
                                    {% bootstrap_button "Save Change" button_type="submit" button_class="btn btn-primary rounded-0" %}
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-start">
                            <div class="btn-row col-md-10">
                                <a class="btn btn-primary rounded-0" href="{% url 'password_change' %}">Change Password</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row tab-pane fade{% if active_tab == 'contributions' %} show active{% endif %}" id="contributions" role="tabpanel">
                {% if object_list %}
                    <div class="d-flex justify-content-start">
                        <div class="col-md">
                            <div class="d-flex">
                                <h2>My Contributions</h2>
                            </div>
                            <div>
                                <label><b>Account created: </b></label> {{ user.date_joined|date:"SHORT_DATE_FORMAT" }}
                            </div>
                            <div class="d-lg-flex" style="margin-right: -0.5rem; margin-left: -0.5rem;">
                                <div class="contribution-highlight">
                                    <div class="value">{{ contributed_campaigns|length|intcomma }}</div>
                                    <p class="label">Campaigns</p>
                                </div>
                                <div class="contribution-highlight">
                                    <div class="value">{{ pages_worked_on|intcomma }}</div>
                                    <p class="label">Pages Worked On</p>
                                </div>
                                <div class="contribution-highlight">
                                    <div class="value">{{ totalCount|intcomma }}</div>
                                    <p class="label">Actions</p>
                                </div>
                            </div>
                            <div class="d-flex mt-4">
                                <table id="tblTranscription" class="table table-striped table-sm table-responsive-sm contribution-table">
                                    <thead class="border-y">
                                        <tr>
                                            <th></th>
                                            <th>Campaign</th>
                                            <th><abbr title="Total number of times you saved, submitted a transcription" class="text-decoration-none">Saves & Submits</abbr></th>
                                            <th><abbr title="Total number of times you reviewed a transcription" class="text-decoration-none">Reviews</abbr></th>
                                            <th><abbr title="Total number of times you saved, submitted, or reviewed a transcription" class="text-decoration-none">Total Actions</abbr></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-2"></td>
                                            <td class="campaign all-campaigns py-2" id="-1">
                                                <b><a href="{% url 'campaign-topic-list' %}">All Campaigns</a></b>
                                            </td>
                                            <td class="py-2"><b>{{ totalTranscriptions|intcomma }}</b></td>
                                            <td class="py-2"><b>{{ totalReviews|intcomma }}</b></td>
                                            <td class="py-2"><b>{{ totalCount|intcomma }}</b></td>
                                        </tr>
                                        {% for campaign in contributed_campaigns %}
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <a class="campaign py-2" id={{campaign.id}} href="{% url 'transcriptions:campaign-detail' campaign.slug %}">
                                                        {{ campaign.title }}
                                                    </a>
                                                </td>
                                                <td class="py-2">{{ campaign.transcribe_count|intcomma }}</td>
                                                <td class="py-2">{{ campaign.review_count|intcomma }}</td>
                                                <td class="py-2">{{ campaign.action_count|intcomma }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="d-flex justify-content-start service-letter">
                                <div class="col-12 col-md-10 py-3">
                                    <h3>Service Letter</h3>
                                    <div class="mb-3">Using <i>By the People</i> to fulfill service requirements? Download a letter verifying your volunteer contributions.<br/><a href="/resources">Find more info on service documentation here.</a></div>
                                    <div class="row justify-content-start">
                                        <div class="btn-row col-md-10">
                                            <a class="btn btn-primary rounded-0" href="/letter">Download Letter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="tab-pane fade{% if active_tab == 'pages' %} show active{% endif %}" id="pages" role="tabpanel">
                {% if object_list %}
                    <div class="row justify-content-start">
                        <div class="col-md">
                            <h2>Recent Pages Worked On</h2>
                            <div>View all pages you worked on in the last 6 months. A page will only be listed once. If you made multiple contributions to a page, your most recent activity will be shown.</div>
                            <div class="row">
                                {% include "fragments/standard-pagination.html" %}
                            </div>
                            <form class="container form date-filter pb-1 mb-2">
                                <div class="d-flex flex-row">
                                    <span class="font-weight-bold mr-1">Date: </span>Select Range
                                </div>
                                <div class="d-flex flex-row">
                                    <duet-date-picker name="start"></duet-date-picker>
                                    <div class="p-2">to</div>
                                    <duet-date-picker name="end"></duet-date-picker>
                                    <button type="submit" class="btn btn-primary rounded-0 p-2">Go</button>
                                </div>
                                <div class="d-flex flex-row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" onclick="sortDateDescending();"{% if order_by == 'date-descending' %} checked{% endif %}>
                                        <label class="form-check-label" for="flexRadioDefault1">Sort by Newest</label>
                                    </div>
                                    <div class="form-check" style="margin-left: 1.6rem;">
                                        <input class="form-check-input" type="radio"name="flexRadioDefault" id="flexRadioDefault2" onclick="sortDateAscending();"{% if order_by == 'date-ascending'%} checked{% endif %}>
                                        <label class="form-check-label" for="flexRadioDefault2">Sort by Oldest</label>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-striped table-responsive-sm">
                                <thead class="border-y">
                                    <tr class="text-left">
                                        <th>Date</th>
                                        <th>
                                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Campaign</div>
                                            <div class="dropdown-menu border border-primary">
                                                {% if campaign %}
                                                    <a class="dropdown-item border-bottom border-primary" href="?{% qs_alter request.GET delete:campaign %}">Show All</a>
                                                {% endif %}
                                                {% for recent_campaign in recent_campaigns %}
                                                    <a class="dropdown-item{% if not forloop.first %} border-top border-primary{% endif %}{% if campaign == recent_campaign.pk %} font-weight-bold{% endif %}" href="?{% qs_alter request.GET campaign=recent_campaign.pk delete:page %}">
                                                        {{ recent_campaign.title }}
                                                    </a>
                                                {% endfor %}
                                            </div>
                                        </th>
                                        <th>Page</th>
                                        <th>
                                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your Contribution</div>
                                            <div class="dropdown-menu border border-primary">
                                                {% if activity %}
                                                    <a class="dropdown-item border-bottom border-primary" href="?{% qs_alter request.GET delete:activity %}">Show All</a>
                                                {% endif %}
                                                <a class="dropdown-item border-bottom border-primary{% if activity == 'reviewed' %} font-weight-bold{% endif %}" href="?{% qs_alter request.GET activity='reviewed' delete:page %}">Reviewed</a>
                                                <a class="dropdown-item{% if activity == 'transcribed' %} font-weight-bold{% endif %}" href="?{% qs_alter request.GET activity='transcribed' delete:page %}">Transcribed</a>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Current Status</div>
                                            <div class="dropdown-menu border border-primary">
                                                <a class="dropdown-item border-bottom border-primary{% if 'in_progress' in status_list %} font-weight-bold{% endif %}" href="?{% qs_alter request.GET status='in_progress' delete:page %}">In Progress</a>
                                                <a class="dropdown-item border-bottom border-primary{% if 'submitted' in status_list %} font-weight-bold{% endif %}" href="?{% qs_alter request.GET status='submitted' delete:page %}">Needs Review</a>
                                                <a class="dropdown-item{% if 'completed' in status_list %} font-weight-bold{% endif %}" href="?{% qs_alter request.GET status='completed' delete:page %}">Completed</a>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for asset in object_list %}
                                        <tr class="{{ asset.item.project.campaign.id }} recent-page">
                                            <td class="col-md-3"><abbr title="{{ asset.latest_activity|date:'SHORT_DATE_FORMAT' }}">{{ asset.latest_activity }}</abbr></td>
                                            <td><a href="{{ asset.item.get_absolute_url }}">{{ asset.item.title }}</a></td>
                                            <td class="text-right"><a href="{{ asset.get_absolute_url }}">{{ asset.sequence }}</a></td>
                                            <td>{{ asset.last_interaction_type.title }}</td>
                                            <td>{{ asset.get_transcription_status_display }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <div class="row">
                                {% include "fragments/standard-pagination.html" %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block body_scripts %}
    <script type="module" src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@duetds/date-picker@1.4.0/dist/duet/duet.js"></script>
    {{ block.super }}
    <script src="{% static 'js/campaign-selection.js' %}"></script>
    <script>
        function sortDateAscending() {
            location.href = "?{% qs_alter request.GET order_by='date-ascending' %}";
        }
        function sortDateDescending() {
            location.href = "?{% qs_alter request.GET order_by='date-descending' %}"
        }
    </script>
{% endblock body_scripts %}
