{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block head_content %}
    <meta name="robots" content="noindex">
    {{ block.super }}
    <script module src="{{ TURNSTILE_JS_API_URL }}"></script>
{% endblock head_content %}

{% block title %}Login{% endblock title %}

{% block main_content %}
    <div class="container" role="dialog" aria-labelledby="dialog-title">
        <div class="row">
            <div class="col-8 col-md-6 col-lg-4 mx-auto my-3">
                <h2 id="dialog-title" class="text-center">Welcome back!</h2>

                <form id="login-form" method="post" action="{% url 'login' %}" class="col-10 my-3 mx-auto">
                    {% csrf_token %}

                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}

                    {% bootstrap_form form %}
                    <div class="w-100 text-center mt-0 mb-3">{{ turnstile_form.turnstile }}</div>
                    <p>
                        By using this system, you agree to comply with
                        <a href="https://www.loc.gov/legal/" target="_blank">the Library's
                            security requirements</a>
                    </p>
                    {% bootstrap_button "Login" button_type="submit" button_class="btn-primary" extra_classes="btn" id="login" %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-md-6 col-lg-4 mx-auto my-3 text-center">
                <a href="{% url 'password_reset' %}">Forgot my password</a>
            </div>
        </div>
    </div>
{% endblock main_content %}
