{% extends "base.html" %}

{% load i18n staticfiles %}
{% load bootstrap4 %}

{% block head_content %}
    <meta name="robots" content="noindex">
    {{ block.super }}
{% endblock head_content %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <form method="post" class="col-md-6 mx-auto">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    {{ block.super }}
    <script src="{% static 'js/password-validation.js' %}"></script>
{% endblock body_scripts %}
