{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main_content %}
<div class="container p-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p>
            Your password has been reset and you are now logged in. If your account was inactive, it has been activated.
            </p>
            <p>
            New here? Visit the <a href="{% url 'welcome-guide' %}">By the People Welcome Guide</a> for instructions and help getting started.
            Or, <a href="{% url 'redirect-to-next-transcribable-topic-asset' 'suffrage-women-fight-for-the-vote' %}">jump right in</a> to a page that needs your help!
            </p>
        </div>
    </div>
</div>
{% endblock %}
