{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block main_content %}
<div class="container p-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <p class="text-center">
                <a class="btn btn-primary" href="{% url 'login' %}">{% trans 'Log in' %}</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}
