{% extends "base.html" %}

{% block main_content %}
    <div class="row flex-column align-items-center justify-content-center">
        <p>Your password was changed</p>

        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user-profile' %}">
                        Return to your account profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
            </ul>
        </nav>

    </div>
{% endblock %}
