{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <li class="breadcrumb-item active" aria-current="page">{% trans 'Password reset' %}</li>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block extra_main_classes %}container{% endblock %}
{% block main_content %}
    <div class="row">
        <div class="col-md-8 mx-auto p-3">
            <p>
                {% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}
            </p>
            <p>
                {% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}
            </p>
        </div>
    </div>
{% endblock %}
