{% extends "base.html" %}
{% block title %}Citizen Historian Registration{% endblock title %}
{% block head_content %}
<style>
input#id_captcha_1 {
  padding: .375rem .75rem;
}

.checkmark {
    list-style: none;
    position: relative;
    right:30px;
}
.checkmark::before {
  content: '✓  ';
}

.nocheckmark {
    list-style: none;
    position: relative;
    right:30px;
}
.nocheckmark::before {
  content: '• ';
}

</style>
{% endblock head_content %}
{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8 col-md-6 col-lg-4 mx-auto bg-offwhite rounded shadow-regular container-registration">
            <h2 class="mt-half mb-quarter text-center">citizen historian</h2>
            <h3 class="mb-default text-center">registration</h3>
            {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" id="registration-form"
                  class="col-10 mx-auto form-register">{% csrf_token %} {{ form.non_field_errors }} {{ form.source.errors }} {{ form.source }}
                <div class="form-group form-row">
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {% for error in form.username.errors %}{{ error }} {% endfor %}
                        </div>
                    {% endif %}
                    <label class="sr-only" for="id_username">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-group form-row">
                    {% if form.email.errors %}
                        <div class="text-danger">
                            {% for error in form.email.errors %}{{ error }} {% endfor %}
                        </div>
                    {% endif %}
                    <label class="sr-only" for="id_email">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group form-row">
                    {% if form.password1.errors %}
                        <div class="text-danger">
                            {% for error in form.password1.errors %}{{ error }} {% endfor %}
                        </div>
                    {% endif %}
                    <label class="sr-only" for="id_password1">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group form-row">
                    {% if form.password2.errors %}
                        <div class="text-danger">
                            {% for error in form.password2.errors %}{{ error }} {% endfor %}
                        </div>
                    {% endif %}
                    <label class="sr-only" for="id_password2">Confirm password</label>
                    {{ form.password2 }}
                    <div class="text-info" id="password_req">
                        Password Requirements:
                        <ul>
                            <li id="req1" class="nocheckmark">Must be at least 8 characters long</li>
                            <li id="req2" class="nocheckmark">Must contain 1 or more unique uppercase characters</li>
                            <li id="req3" class="nocheckmark">Must contain 1 or more unique digits</li>
                            <li id="req4" class="nocheckmark">Must contain 1 or more non unique special characters</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    {% if form.captcha.errors %}
                        <div class="text-danger">
                            {% for error in form.captcha.errors %}{{ error }} {% endfor %}
                        </div>
                    {% endif %}
                    <label class="sr-only" for="id_password2">Captcha</label>
                    {{ form.captcha }}
                </div>
                <div class="d-flex col mx-auto justify-content-center pt-half">
                    <a href="{% url 'login' %}" class="text-center blue-text">I already have an account</a>
                </div>
                <div class="d-flex mx-auto justify-content-center mb-default mt-half">
                    <input class="btn btn-primary" type="submit" value="Register" id="registration-submit">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
<script>
$("form input[name='password1']").keyup(function () {
    var input_value = $('#id_password1').val();

    var upperCase = new RegExp('[A-Z]');
    var numbers = new RegExp('[0-9]');
    var special = new RegExp('[!@#$%^&*(),.?":{}|<>;\'/~_+`=\\\\\\[\\]\\-]');

    if (input_value.length >= 8) {
        $('#req1').removeClass("nocheckmark");
        $('#req1').addClass("checkmark");
    } else {
        $('#req1').removeClass("checkmark");
        $('#req1').addClass("nocheckmark");
    }

    if (input_value.match(upperCase)) {
        $('#req2').removeClass("nocheckmark");
        $('#req2').addClass("checkmark");
    } else {
        $('#req2').removeClass("checkmark");
        $('#req2').addClass("nocheckmark");
    }

    if (input_value.match(numbers)) {
        $('#req3').removeClass("nocheckmark");
        $('#req3').addClass("checkmark");
    } else {
        $('#req3').removeClass("checkmark");
        $('#req3').addClass("nocheckmark");
    }

    if (input_value.match(special)) {
        $('#req4').removeClass("nocheckmark");
        $('#req4').addClass("checkmark");
    } else {
        $('#req4').removeClass("checkmark");
        $('#req4').addClass("nocheckmark");
    }

});
</script>
<script>
	$(document).ready(function(){
	    $(".js-captcha-refresh").click(function(e){
	    	     e.preventDefault();
		    	 $.getJSON("{% url 'captcha-refresh' %}", function (result) {
		    	        $('.captcha').attr('src', result['image_url']);
		    	        $('#id_captcha_0').val(result['key'])
		    	    });
	    })
	})
</script>
{% endblock body_scripts %}
