<p>Contact request from <a href="mailto:{{ email|urlencode }}">{{ email }}</a>:</p>

<table>
    <tr>
        <th>Subject</th>
        <td>{{ subject }}</td>
    </tr>
    <tr>
        <th>Category</th>
        <td>{{ category }}</td>
    </tr>
    {% if link %}
        <tr>
            <th>Link</th>
            <td><a href="{{ link }}">{{ link }}</a></td>
        </tr>
    {% endif %}
    {% if referrer %}
        <tr>
            <th>Referring Page</th>
            <td><a href="{{ referrer }}">{{ referrer }}</a></td>
        </tr>
    {% endif %}
    <tr>
        <th>Story</th>
        <td>{{ story }}</td>
    </tr>
</table>
