<h4>{{ title }}</h4>
Incidents of two or more transcriptions submitted within a single minute:
<table>
    {% for row in transcriptions %}
        <tr>
            <td>
                <a href="{% url 'admin:concordia_transcription_changelist' %}?user={{ row.0 }}">
                    {{ row.1 }}
                </a>
            </td>
            <td>{{ row.2 }}</td>
        </tr>
    {% empty %}
        <tr><td>No transcriptions fell within the window.</td></tr>
    {% endfor %}
</table>
Incidents of two or more transcriptions reviewed within a single minute:
<table>
    {% for row in reviews %}
        <tr>
            <td>
                <a href="{% url 'admin:concordia_transcription_changelist' %}?user={{ row.0 }}">
                    {{ row.1 }}
                </a>
            </td>
            <td>{{ row.2 }}</td>
        </tr>
    {% empty %}
        <tr><td>No reviews fell within the window.</td></tr>
    {% endfor %}
</table>
