<p>
    Thank you for becoming a Library of Congress virtual transcription volunteer for the Library of Congress!
</p>
<p>
    Before you jump in, read the <a href="https://crowd.loc.gov/get-started/">Get Started</a> guide. It includes instructions on transcribing and reviewing transcriptions by other volunteers. Reviewing is an area where we especially need your help to complete transcriptions!
</p>
<p>
    Once you have a handle on the transcription guidelines, explore the different collections available under <a href="https://crowd.loc.gov/campaigns-topics/">“Campaigns”</a> using the top navigation on any page.
</p>
<p>
    Let us know what you find once you dig in! Share your experience or questions on <a href="https://forum.crowd.loc.gov">our community forum</a>.
</p>
<p>
    Happy transcribing!<br/>
    The By the People team
</p>
