<p>
    Thank you for becoming a By the People virtual volunteer for the Library of Congress!
</p>
<p>
    To help you get started, we recommend reading the <a href="https://crowd.loc.gov/help-center/welcome-guide/">Welcome Guide</a>. It includes instructions on transcribing, tagging, and reviewing transcriptions by other volunteers. Reviewing is an area where we especially need your help in completing transcriptions and moving them over the finish line!
</p>
<p>
    Once you have a handle on the transcription guidelines, explore the different collections available under <a href="https://crowd.loc.gov/campaigns-topics/">“Campaigns”</a> using the top navigation on any page.
</p>
<p>
    Let us know what you find once you dig in! Share your experience or questions with the community managers and other volunteers on our <a href="https://forum.crowd.loc.gov">discussion space on Discourse</a>.
</p>
<p>
    Happy transcribing!<br/>
    The By the People team
</p>
