{% extends "error.html" %}

{% block full_title %}404 Error{% endblock full_title %}

{% block error_message %}
    <h1>HTTP 404 Error</h1>

    <p>
        The requested page was not found.
    </p>

    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="{{ request.META.HTTP_REFERER }}">
                    &laquo; Go Back
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Go Home &raquo;</a>
            </li>
        </ul>
    </nav>
{% endblock error_message %}
