{% extends "base.html" %}

{% load staticfiles %}

{% block title %}🥞{% endblock title %}

{% block head_content %}
    <link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}">
    <link rel="stylesheet" href="{% static 'css/action-app.css' %}">
{% endblock head_content %}

{% block body_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.0/openseadragon.min.js" integrity="sha256-grVJpqgDSGBx1q2llmvY+J5zU9hEHbO7UvftFY2bK1w=" crossorigin="anonymous"></script>
    <script type="module">
        import { ActionApp } from "{% static 'js/action-app/index.js' %}";
        window.actionApp = new ActionApp({
            assetDataUrlTemplate: "/{action}.json"
        });
    </script>
{% endblock body_scripts %}

{% comment %} This app is close to a full-screen view so we suppress the standard header & footer {% endcomment %}
{% block site-header %}{% endblock site-header %}
{% block site-footer %}{% endblock site-footer %}

{% block site-main %}
    <header id="action-app-header">
        <nav id="action-app-global-controls" class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
            <span class="navbar-brand mb-0 h1">🥞</span>
            <ul class="navbar-nav ml-5 mr-auto">
                <li class="nav-item text-white pr-5">
                    {% comment %} This could use some re-thinking but … not now {% endcomment %}
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">I want to:</span>
                            </div>

                            <div id="activity-mode-selection" class="btn-group" role="group" aria-label="Activity mode">
                                <button type="button" class="btn btn-outline-primary" value="transcribe">Transcribe</button>
                                <button type="button" class="btn btn-outline-primary active" value="review">Review</button>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="nav-item dropdown text-white pr-5">
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="sort-mode">Sort by:</span>
                            </div>
                            <select class="custom-select" id="sort-mode">
                                <option value="easiest">Easiest</option>
                                <option value="hardest">Hardest</option>
                                <option value="item-id">Item ID</option>
                                <option value="campaign">Campaign</option>
                            </select>
                        </div>
                    </form>
                </li>
                <li class="nav-item dropdown text-white pr-5">
                    {% comment %} FIXME: this wants to be more of a sidebar or drop-down panel but for now… {% endcomment %}
                    <form class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="selected-campaign">Campaign:</span>
                            </div>
                            <select class="custom-select" id="selected-campaign">
                                <option>All</option>
                            </select>
                        </div>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'help-center' %}" data-toggle="modal" data-target="#help-modal">❔ Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}">↩ Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
    </header>
    <main id="action-app-main" class="d-flex flex-column">
        <div id="editor-topnav">
        </div>
        <div id="editor-main" class="p-1 d-flex">
            <div id="asset-list-container">
                <ul id="asset-list" class="list-unstyled"></ul>
                <button id="load-more-assets" class="btn btn-secondary btn-block btn-sm">Load more…</button>
            </div>
            <div id="asset-viewer">
                <div class="float-right">
                    <button id="show-metadata-button" class="btn btn-secondary" data-toggle="modal" data-target="#asset-info-modal" aria-label="Show metadata">ℹ Info</button>
                    <button id="close-viewer-button" class="btn btn-secondary" aria-label="Close viewer">✖️ Close</button>
                </div>
                <div id="asset-metadata">
                    <a class="campaign-title h1" target="_blank"></a>
                    <a class="project-title h2" target="_blank"></a>
                    <a class="item-title h3" target="_blank"></a>
                    <a class="asset-title h4" target="_blank"></a>
                </div>
                <div id="contribute-container" class="flex-grow-1 d-flex h-100">
                    <div id="viewer-column" class="pl-0 d-flex flex-column align-items-stretch bg-dark d-print-block">
                        <div id="viewer-controls" class="m-1 text-center d-print-none">
                            <div class="d-inline-flex justify-content-between">
                                <div class="d-flex btn-group btn-group-sm m-1">
                                    <button id="viewer-home" class="btn btn-default" title="Fit Image to Viewport">
                                        <span class="fas fa-compress"></span>
                                    </button>
                                </div>
                                <div class="d-flex btn-group btn-group-sm m-1">
                                    <button id="viewer-zoom-in" class="btn btn-default" title="Zoom In">
                                        <span class="fas fa-search-plus"></span>
                                    </button>
                                    <button id="viewer-zoom-out" class="btn btn-default" title="Zoom Out">
                                        <span class="fas fa-search-minus"></span>
                                    </button>
                                </div>
                                <div class="d-flex btn-group btn-group-sm m-1">
                                    <button id="viewer-rotate-left" class="btn btn-default" title="Rotate Left">
                                        <span class="fas fa-undo"></span>
                                    </button>
                                    <button id="viewer-rotate-right" class="btn btn-default" title="Rotate Right">
                                        <span class="fas fa-redo"></span>
                                    </button>
                                </div>

                                <div class="d-flex btn-group btn-group-sm m-1">
                                    <button id="viewer-full-page" class="btn btn-default" title="View full screen">
                                        <span class="fas fa-expand"></span>
                                    </button>
                                </div>

                                <div class="d-flex btn-group btn-group-sm m-1">
                                    <button id="viewer-previous-page" class="btn btn-default" title="Previous Page">
                                        <span class="fas fa-arrow-left"></span>
                                    </button>
                                    <button id="viewer-next-page" class="btn btn-default" title="Next Page">
                                        <span class="fas fa-arrow-right"></span>
                                    </button>
                                </div>

                                <div class="d-flex btn-group btn-group-sm m-1">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#keyboard-help-modal">
                                        <span class="fas fa-question-circle" aria-label="Open Help"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="asset-image" class="h-100 bg-dark"></div>
                    </div>

                    <div id="editor-column" class="d-flex pl-2 flex-column flex-grow-1 flex-nowrap justify-content-between h-100">

                        <div id="reviewer-column" class="flex-column flex-grow-1">
                            <div id="review-transcription-text"></div>
                            <div class="my-3 d-print-none d-flex flex-wrap justify-content-around align-items-center btn-row">

                            <button id="reject-transcription-button" type="button" class="btn btn-primary" title="Correct errors you see in the text">Edit</button>
                            <button id="accept-transcription-button" type="button" class="btn btn-primary" title="Confirm that the text is accurately transcribed">Accept</button>
                            </div>
                        </div>

                        <div id="transcriber-column" class="flex-column flex-grow-1">
                            <form id="transcription-editor" class="flex-grow-1 d-flex flex-column">
                                {% csrf_token %}
                                <textarea class="form-control w-100 rounded flex-grow-1 d-print-none" name="text" placeholder="Go ahead, start typing. You got this!" id="transcription-input"  aria-label="Transcription input">
                                </textarea>
                                <div class="my-3 d-print-none d-flex flex-wrap justify-content-around align-items-center btn-row">
                                    <div class="form-check w-100 text-center mt-0 mb-3">
                                        <input id="nothing-to-transcribe" type="checkbox" class="form-check-input" />
                                        <label class="form-check-label" for="nothing-to-transcribe">
                                            Nothing to transcribe
                                        </label>

                                        <a tabindex="0" class="btn btn-link d-inline" role="button" data-toggle="popover" data-placement="top" data-trigger="focus click hover" title="Help" data-html="true" data-content="If it looks like there’s nothing to transcribe, use this button and then Submit. Not sure? Check these tips: {% filter force_escape %}<a target="_blank" href="{% url 'how-to-transcribe' %}">how to transcribe</a>{% endfilter %}">
                                            <span class="fas fa-question-circle" aria-label="Open Help"></span>
                                        </a>
                                    </div>

                                    <button id="save-transcription-button" type="submit" class="btn btn-primary" title="Save the text you entered above">Save</button>
                                    <button id="increase-difficulty-button" class="btn btn-primary" title="Upvote the difficulty for this transcription">This is too much</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="asset-info-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">More Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>Campaign: <a class="campaign-url" target="_blank"></a></h3>
                        <h3>Project: <a class="project-url" target="_blank"></a></h3>
                        <a class="resource-url" target="_blank"></a>
                        <div id="asset-more-info"></div>
                    </div>
                    <div class="modal-footer d-block text-center">
                    </div>
                </div>
            </div>
        </div>

        <div id="help-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Quick Tips</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Type what you see. Preserve original spelling, punctuation, and line breaks.</li>
                            <li>Use brackets [ ] around deleted, illegible or partially legible text.</li>
                            <li>Transcribe any words or letters you can't identify as ?.</li>
                            <li>Use square brackets and asterisks around text from margins [ * * ].</li>
                            <li>Include insertions where you would read them in the text.</li>
                        </ul>
                    </div>
                    <div class="modal-footer d-block text-center">
                        <p>
                            Find more detailed instructions in the <a href="{% url 'help-center' %}" target="_blank">Help Center</a>
                        </p>
                        <a class="btn btn-secondary" href="{% url 'questions' %}" target="_blank">
                            Questions?
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="action-app-footer" class="footer fixed-bottom bg-light">
        <div class="container">
            <div class="m-auto text-center text-muted">
                Displaying <span id="asset-count">0</span> assets
            <div>
        </div>
    </footer>
{% endblock site-main %}
