<!DOCTYPE html>
<html lang="en">{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Untitled{% endblock title %}</title>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% block head_content %}{% endblock head_content %}
</head>
<body>
    <header class="container">
        <nav class="font-weight-light">
            <img style="width:96px" src="{% static "img/loc.svg" %}">
            <a href="/">
                <strong>Concordia</strong>
            </a> |
            <a href="{% url 'transcriptions:transcribe' %}">Transcribe</a> |
            {% if user.is_authenticated %}
            <a href="{% url 'user-profile' %}">{{ user }}</a> &bull;
            {% if user.is_superuser %}
            <a href="{% url 'admin:index' %}">Admin</a> &bull;
            {% endif %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'registration_register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <hr>
    <main>
        {% block main_content %}{% endblock main_content %}
    </main>
    <hr>
    <footer class="container text-center font-weight-light">
        <a href="{% url 'about' %}">About</a> &middot;
        <a href="{% url 'faq' %}">FAQs</a> &middot;
        <a href="{% url 'legal' %}">Legal</a> &middot;
        <a href="{% url 'privacy-policy' %}">Privacy Policy</a> &middot;
        <a href="{% url 'cookie-policy' %}">Cookie Policy</a> &middot;
        <a href="https://loc.gov">LoC.gov</a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{% static "js/base.js" %}">
</body>
</html>
