{% extends "base.html" %}

{% load bootstrap4 %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1 class="text-center">Contact Us</h1>
            <form method="post" action="{% url 'contact' %}" id="contact-form" class="col-10 mx-auto">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
