{% extends "base.html" %}
{% load staticfiles %}

{% block head_content %}
    <style>
        body {
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
        }

        #error-message {
            max-width: 30em;
        }
    </style>
{% endblock head_content %}

{% block body_classes %}d-flex justify-content-center align-items-center text-center{% endblock body_classes %}

{% block site-header %}{% endblock site-header %}

{% block breadcrumbs-container %}{% endblock breadcrumbs-container %}

{% block site-main %}
    <div id="error-message">
        {% block error_message %}{% endblock error_message %}
    </div>
{% endblock site-main %}

{% block site-footer %} {% endblock site-footer %}
