{% extends "transcriptions/base.html" %} {% load staticfiles %}
{% block title %}{{ asset.title }}{% endblock title %}
{% block head_content %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static "vendor/openseadragon/openseadragon.min.js" %}"></script>
{% endblock head_content %}
{% block main_content %}
<div class="container">
<div id="accordion">
{% for item in faq %}

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{item.pk}}" aria-expanded="true" aria-controls="collapseOne">
          {{item.question}}
        </button>
      </h5>
    </div>

    <div id="collapse{{item.pk}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        {{item.answer}}
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
        </div>
    <script>
    $('.collapse').collapse()
    </script>
{% endblock main_content %}
