{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% load staticfiles %}
{% block main_content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 overflow-hidden">
          <div class="img-header text-center">
            <div class="col-md-5 mx-auto padding-header">
              <h1 class="header-text display-4">Make history</h1>
              <a class="btn btn-secondary btn-lg mt-4" href="#">GET STARTED!</a>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <div class="bg-offwhite round-corners-bottom w-100">
            <div class="col-lg-8 col-md-10 mx-auto py-2">
              <h3 class="">Help us discover history by transcribing and tagging documents,<br />
                making these snapshots in time searchable and accessible for all.
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid margin-default">
      <div class="row">
        <div class="col-md-10 mx-auto bg-offwhite rounded align-text-bottom">
          <h4 class="mt-3 margin-bottom-default">Collections</h4>
          <div class="col-md-4">
            <div class="card box-shadow margin-bottom-default">
              <img class="card-img" src="{% static "img/AbrahamLincoln.png" %}">
              <div class="card-img-overlay bg-card-title">
                <h5 class="card-title align-text-bottom offwhite-text">Abraham Lincoln Papers</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card box-shadow margin-bottom-default">
              <img class="card-img" src="{% static "img/BranchRickey.png" %}">
              <div class="card-img-overlay bg-card-title">
                <h5 class="card-title align-text-bottom offwhite-text">Branch Rickey Papers</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card box-shadow margin-bottom-default">
              <img class="card-img" src="{% static "img/ClaraBarton.png" %}">
              <div class="card-img-overlay bg-card-title">
                <h5 class="card-title align-text-bottom offwhite-text">Clara Barton Papers</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-10 col-12">
          <h2>Enabling and Unleashing the Wisdom of the Crowd </h2>
          <p>Welcome to the Library of Congress transcription and tagging site. </p>
          <p>This is a place for volunteers to help make history, by making historical artifacts easier to read and searchable with metadata.  Digital archives at the Library contain hundreds of thousands of mixed media types—manuscripts, photographs, audio and video files, to name a few—more than Library staff alone can catalog in a timely fashion.  So, we're opening up the vaults and appealing to you to help by translating and typing text into forms by way of transcriptions, tags, and comments. </p>
          <p>Through crowdsourcing efforts like this, the Library encourages volunteers to contribute time and effort towards the ultimate goal of transcribing and tagging a massive amount of original materials to make them searchable via metadata, ultimately allowing people to find specific information via search tools.  This effort also allows librarians and content managers to organize and make the material searchable and index-ready for web crawlers and other machine-learning agents.  </p>
          <p>Please join us in preserving our Nation’s history by making records accessible, bit by bit, piece by piece, one precious artifact at a time.</p>
          <p>
              Let’s get started.
              <a href="{% url 'transcriptions:transcribe' %}">Pick an image</a> and begin transcribing.
          </p>
        </div>
      </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">Development</div>
                    <div class="card-body">
                        <p class="card-text">
                            Quick links to development pages and experiments
                        </p>
                        <ul>
                            <li><a href="{% url 'experiments' 'models' %}">Data Models</a></li>
                            <li><a href="/wireframes/">Original Wireframes</a></li>
                        </ul>

                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
