{% extends "base.html" %} {% block title %}Citizen Historian Home{% endblock title %} {% load staticfiles %} {% block main_content %}
<div class="container-fluid px-default">
    <div class="row">
        <div class="col-12 ">
            <div id="homepage-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="{% static "img/rosa-parks.png" %}" alt="Rosa Parks carousel image">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="{% static "img/branch-rickey.png" %}" alt="Branch Rickey carousel image">
                    </div>
                </div>
            </div>
            <div class="col-6 carousel-text text-center py-default">
                <h1 class=" px-default">Make history</h1>
                <p class="hero-text px-default">Help us discover history by transcribing and tagging documents, making these snapshots in time searchable and accessible for all.</p>
                <a class="btn btn-primary btn-lg mt-4" href="{% url 'transcriptions:transcribe' %}">GET STARTED!</a>
            </div>
        </div>
    </div>
    <div class="row mxy-default">
        <div class="col-12 col-md-7">
            <h2 class="px-default">What is Citizen Historian?</h2>
            <p class="hero-secondary px-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci. Nulla semper vestibulum erat sed vulputate.</p>
            <img src="{% static "img/laptop.svg" %}" class="mx-auto d-block" alt="laptop showing site design">
        </div>
        <div class="col-12 col-md-5 text-center">
            <h3>Help make historical artifacts</h3>
            <img src="{% static "img/artifacts.svg" %}" class="mx-auto d-block" alt="help make historical artifacts">
            <h4 class="mt-quarter">Easier to read</h4>
            <p class="border-bottom-artifacts mb-default pb-default px-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci. Nulla semper vestibulum erat sed vulputate. Mauris leo eros, facilisis rhoncus nunc sed, pulvinar condimentum enim.</p>
            <img src="{% static "img/magnifying-glass.svg" %}" class="mx-auto d-block" alt="magnifying glass">
            <h4 class="mt-half">Searchable with metadata</h4>
            <p class="px-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci. Nulla semper vestibulum erat sed vulputate. Mauris leo eros, facilisis rhoncus nunc sed, pulvinar condimentum enim.</p>
        </div>
    </div>
    <div class="row bg-home-contribute py-default">
        <div class="col-12 mb-default">
            <h2 class="ml-default offwhite-text">There are several ways to contribute</h2>
            <p class="ml-default hero-secondary offwhite-text col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci. Nulla semper vestibulum erat sed vulputate. Mauris leo eros, facilisis rhoncus nunc sed, pulvinar condimentum enim.</p>
        </div>
        <div class="d-flex flex-wrap col-12 justify-content-around">
            <div class="col-12 col-md-4 mb-default text-center">
                <img class="img-home-contribute d-block mx-auto" src="{% static "img/homepage-pencil.svg" %}">
                <h4 class="offwhite-text mt-half">TRANSCRIBE</h4>
                <p class="offwhite-text px-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci.</p>
            </div>
            <div class="col-12 col-md-4 mb-default text-center border-left-home-contribute">
                <img class="img-home-contribute d-block mx-auto" src="{% static "img/homepage-tag.svg" %}">
                <h4 class="offwhite-text mt-half">TAG</h4>
                <p class="offwhite-text px-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci.</p>
            </div>
            <div class="col-12 col-md-4 mb-default text-center border-left-home-contribute">
                <img class="img-home-contribute d-block mx-auto" src="{% static "img/homepage-comment.svg" %}">
                <h4 class="offwhite-text mt-half">COMMENT</h4>
                <p class="offwhite-text px-default">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci.</p>
            </div>
        </div>
    </div>
    <div class="row mxy-default">
        <div class="col-12 mb-half">
            <h2 class="mt-default ml-default">Choose what to transcribe</h2>
            <p class="hero-secondary px-default col-md-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis volutpat orci. Nulla semper vestibulum erat sed vulputate.</p>
        </div>
        <div class="d-flex flex-wrap col-12 justify-content-around">
            <div class="col-12 col-md-4 mb-default text-center">
                <img class="img-home-contribute d-block mx-auto" src="{% static "img/rosa-parks-campaign.svg" %}" alt="Rosa Parks Papers">
                <h3 class="mt-half">Rosa Parks Papers</h3>
                <a class="btn btn-outline-primary" href="#" role="button">Get Started!</a>
            </div>
            <div class="col-12 col-md-4 mb-default text-center border-left-home-contribute">
                <img class="img-home-contribute d-block mx-auto" src="{% static "img/branch-rickey-campaign.svg" %}" alt="Branch Rickey Papers">
                <h3 class="mt-half">Branch Rickey Papers</h3>
                <a class="btn btn-outline-primary" href="#" role="button">Get Started!</a>
            </div>
            <div class="col-12 col-md-4 mb-default text-center border-left-home-contribute">
                <img class="img-home-contribute d-block mx-auto" src="{% static "img/clara-barton-campaign.svg" %}" alt="Clara Barton Papers">
                <h3 class="mt-half">Clara Barton Papers</h3>
                <a class="btn btn-outline-primary" href="#" role="button">Get Started!</a>
            </div>
        </div>
        <div class="col mx-auto d-flex justify-content-center my-default">
            <a class="btn btn-primary" href="{% url 'transcriptions:transcribe' %}" role="button">Browse More Collections</a>
        </div>
    </div>

</div>
{% endblock main_content %}
