{% extends "base.html" %}
{% block title %}Make Your Mark Privacy Policy{% endblock title %}
{% block head_content %}{% endblock head_content %}
{% block main_content %}
<div class="container">
<p><strong>Privacy Policy and Use of Personal Information Used in Collections</strong></p>

<p>Personal information may be required to use certain features of the Citizen Historian Center website, such as editing, transcribing, and tagging documents prepared by another volunteer, using a feedback form, or participating in blog discussions.</p>

<p>We always inform you what information is required, and only use that information for its stated purpose. If you provide the information requested, then you consent to our using the information for the stated purpose. If you do not provide the information then some website features may be unavailable.</p>

<p>Occasionally, we work with third party applications that are not exclusively operated or controlled by the Library of Congress, to provide a better web presentation or user experience, such as for fulfilling online orders, emailing updates or collecting voluntarily-provided feedback.</p>

<p>These third-party sites and applications will either follow our privacy policy, or prominently display their own. The Library does not have access to any information collected by third–party cookies or similar technologies on its sites. Other than these exceptions, and for authorized government law enforcement activities, we do not provide personal information to outside organizations without first obtaining your consent.</p>

<p>See full explanation of notices on the <a class="primary-text" href="https://www.loc.gov/legal/">loc.gov</a> Legal page.</p>
<p><strong>Policy on Copyright of Contributions</strong></p>
<p>In general, U.S. Government documents are in the public domain. Under section 105 of the Copyright Act, transcriptions by volunteers and such works are not entitled to domestic copyright protection under U.S. law.</p>
<p><strong>Privacy and Publicity Rights</strong></p>
<p>Privacy and publicity rights are separate and distinct from copyright. Copyright is protected by federal law under the United States Copyright Act, whereas privacy and publicity rights are primarily governed by state law. What is allowed in one state may not be allowed in another.</p>
<p>If you use materials from our websites, then you are responsible for determining whether there are privacy and publicity rights considerations. Factors to consider include the type of materials and their intended use.</p>
<p><strong>Privacy Policy</strong></p>
<p>Protecting our patrons&rsquo; personal information is important. We collect, use, and share information obtained from online visitors only in the following ways:</p>
<ul>
<li>Personal information is used only when you voluntarily provide it directly to the Library or when you grant third parties permission to allow the Library's uses of your personal information</li>
<li>Personal information is used only for its intended purpose</li>
<li>Personal information is disclosed to contractors or associates only to carry out your requests. Third parties either follow our privacy policy or prominently display their own</li>
<li>Personal information is not disclosed to outside parties, including other government agencies, without first obtaining permission from you, unless disclosure is required by law or court order</li>
<li>We provide a safe online environment for children in accordance with Children's Online Privacy Protection Act (COPPA) principles</li>
<li>We have safeguards to protect all information collected</li>
</ul>
<p>For more information follow these links:</p>
<ul>
<li><a class="primary-text" href="https://www.loc.gov/legal/#collected">Types of Information Collected</a></li>
<li><a class="primary-text" href="https://www.loc.gov/legal/#automatic">Automatically Collected Information</a></li>
<li><a class="primary-text" href="https://www.loc.gov/legal/#cookies">Information Collected for Measurement and Customization (Cookies)</a></li>
<li><a class="primary-text" href="https://www.loc.gov/legal/#personal">Personal Information</a></li>
<li><a class="primary-text" href="https://www.loc.gov/legal/#children">Children&rsquo;s Privacy Policy</a></li>
</ul>
<p><strong>Types of Information Collected</strong></p>
<p>We collect several types of information, although never for commercial marketing:</p>
<ol>
<li><a class="primary-text" href="https://www.loc.gov/legal/#automatic">Automatically Collected Information</a></li>
<li><a class="primary-text" href="https://www.loc.gov/legal/#cookies">Information Collected for Measurement and Customization (Cookies)</a></li>
<li><a class="primary-text" href="https://www.loc.gov/legal/#personal">Personal Information</a></li>
</ol>
<p>We have safeguards in place to protect all this information, including only allowing access by designated staff that require access in order to perform their duties.</p>
<p><strong>Automatically Collected Information</strong></p>
<p>We strive to provide the best experience for you. We automatically collect and store the following non-personally identifiable information:</p>
<ul>
<li>The name of the domain from which you accessed the internet</li>
<li>The internet protocol address of your Internet providers&rsquo; gateways, or in some cases, your computer</li>
<li>The date and time you accessed our websites</li>
<li>The URL of the pages visited and files downloaded</li>
<li>The internet address of the website that brought you directly to our websites</li>
<li>Characteristics of your computer system and</li>
<li>Search terms used to come to the websites and while on the websites (in aggregate only).</li>
</ul>
<p>This information allows us to improve website design, presentation and system performance. We collect this information from anyone who reads, browses, or downloads information from our websites.</p>
<p><strong>Information Collected for Measurement and Customization (Cookies)</strong></p>
<p>To help provide website visitors with the best experience possible, we use commercial software to report and analyze aggregated web metrics data. The data is generally retained indefinitely to help improve website performance.</p>
<p>Our sites use three types of tools:&nbsp;<a class="primary-text" href="https://www.loc.gov/legal/#session">session cookies</a>,&nbsp;<a class="primary-text" href="https://www.loc.gov/legal/#persistent">persistent cookies</a>&nbsp;and&nbsp;<a class="primary-text" href="https://www.loc.gov/legal/#other">other customization tools</a>. &ldquo;Cookies&rdquo; are small files that websites transfer to visitors&rsquo; computers to allow the site to remember specific information. If you do not want cookies transferred to your computer, you may&nbsp;<a class="primary-text" href="https://www.usa.gov/optout-instructions">opt out</a>&nbsp;by changing your browser options. Without cookies, most of our websites will continue to display normally, but certain features may not work as well or may be unavailable.</p>
<p>Session cookies do not contain personal information and disappear once the browser window is closed. We use session cookies for technical purposes such as to enable you to more easily navigate throughout the websites. Session cookies only collect non-personally identifiable data.</p>
<p>Persistent cookies store information on your computers for longer periods of time and across multiple visits. We do not use persistent cookies to collect personal identifiable information about visitors. However, we do use persistent cookies to improve web metrics by distinguishing between new and returning visitors, to anonymously aggregate data on how visitors use our websites, and to remember your voluntarily-provided preferences to create a smoother browsing experience.</p>
<p>Customization tools allow you to voluntarily provide information to personalize and improve your online experience. Information from customization tools is saved on our servers.</p>
<p><strong>Personal Information</strong></p>
<p>Personal information may be required to use certain features of our websites, such as making a purchase from our online shop, submitting a request to the Ask a Librarian service, responding to a feedback form, or participating in blog discussions. We always inform you what information is required, and only use that information for its stated purpose. If you provide the information requested, then you consent to our using the information for the stated purpose. If you do not provide the information then some website features may be unavailable.</p>
<p>Occasionally, we work with third party applications that are not exclusively operated or controlled by the Library of Congress, to provide a better web presentation or user experience, such as for fulfilling online orders, emailing updates or collecting voluntarily-provided feedback. These third-party sites and applications will either follow our privacy policy, or prominently display their own. The Library does not have access to any information collected by third&ndash;party cookies or similar technologies on its sites. Other than these exceptions, and for authorized government law enforcement activities, we do not provide personal information to outside organizations without first obtaining your consent.</p>
<p><strong>Children&rsquo;s Privacy Policy</strong></p>
<p>Part of our mission is reaching out to children in creative and educationally beneficial ways while still protecting their privacy. Our websites offering educational content to children under the age of 13 have links to their own privacy policies that comply with the Children&rsquo;s Online Privacy Protection Act (COPPA).</p>
<p>Some websites may include games or activities that require personally identifiable information. We do not use the information for any purpose other than the game or activity, and delete the information as soon as practical.</p>
<p>If we become aware that a child under the age of 13 has made a request for information (such as through the&nbsp;<em>Ask a Librarian</em>service), we will respond to the request and then delete any identifying information. Similarly, if we learn that a child under 13 has posted personally identifiable information on any of our websites, we will delete the information.</p>
<p>We will disclose information about a child under the age of 13 if it is necessary to protect the child, the website itself, or to respond to a law enforcement inquiry.</p>
<p>We take children&rsquo;s privacy seriously, and encourage parents to contact us with any questions or concerns via the form at&nbsp;<a class="primary-text" href="http://www.loc.gov/contact/web-site-comments">www.loc.gov/contact/web-site-comments</a>. Similarly, parents who would like to notify us of personally identifiable information collected from a child under the age of 13 that should be deleted should contact us at the above address.</p>
<p><strong>About Our Web Surveys</strong></p>
<p>We use various types of online forms, including third-party forms and surveys, to collect opinions and feedback. Submitting information is voluntary.</p>
<p>We appreciate all comments and feedback from our visitors.</p>
<p>March 12, 2018</p>
</div>
{% endblock main_content %}
