{% extends "base.html" %}
{% block title %}User Profile Page{% endblock title %}
{% block head_content %}
<style type="text/css">
.img-circle {
    border-radius: 60%;
    width: 160px;
    height: 160px;
}

.form-control {
    border-radius: 8px !important;
}

.change-password,
.change-password:hover {
    background: #5f656b;
    color: #fff;
}

.m-top-5 {
    margin-top: 5px;
}

</style>
<style type="text/css">
.profile_edit {
    color: #a3a3a3;
    cursor: pointer;
    font-size: 21px;
}

.profile_edit:hover {
    color: #23527c;
}

body {
    background: #ccc;
}

.container {
    margin: 20px auto;
    /* center the page */
    width: 80em;
}

.inut-group input {
    border: 0;
}

.remove_button_css:focus,
.remove_button_css:hover {
    color: #23527c;
    text-decoration: underline;
}

</style>
{% endblock head_content %}

{% block main_content %}
<div class="container bootstrap snippet well">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissable col-md-10 mx-auto rounded">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-sm-5">
            <h3>Account Settings - <span id='toggle_edit_section' class='profile_edit'>edit</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <form class="form-horizontal" action="/account/profile/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <span>{{ form.non_field_errors }}</span>
                <div class="col-sm-3">
                    <div class="span6">
                        <div class="area">
                            <img src="{% if form.myfile.value %}/media/{{form.myfile.value}}{% else %}http://placehold.it/320x200 {% endif %}" alt="ALT NAME" class="img-circle">
                            <label class="btn btn-file m-top-5" style="color: #4286f4">
                                Change profile image
                                <input type="file" style="display: none;" id="myfile" name="myfile">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="form-group">
                        <label class="col-md-2" for="Name (Full name)">Username</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="{{form.username.id_for_label}}" name="{{form.username.html_name}}" value="{{form.username.value}}" type="text" class="form-control-plaintext" readonly="readonly">
                                <span>{{ form.username.errors }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2" for="email">Email</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <input id="{{form.email.id_for_label}}" name="{{form.email.html_name}}" type="text" value="{{ form.email.value }}" class="form-control-plaintext" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="password-section">
                        <div class="form-group">
                            <label class="col-md-2" for="email">Password</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input id="{{form.password1.id_for_label}}" name="{{form.password1.html_name}}" type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2" for="email">Re-enter Password</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input id="{{form.password2.id_for_label}}" name="{{form.password2.html_name}}" type="password" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="input-group">
                                <div class="col-md-10">
                                    <button class="btn change-password text-uppercase" id="toggle_password_section"> change password</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-2">
                            <div class="input-group edit">
                                <div class="row">
                                    <div class="col-md-10">
                                        <a href="{{request.path}}" class="d-none btn btn-primary pull-left text-uppercase">Cancel</a>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="d-none btn btn-primary pull-right text-uppercase">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>
<div class="container well">
    <h3>My Contributions</h3> {% if transcriptions %}
    <table class="table">
        <tr>
            <td>Collection</td>
            <td>Asset Name</td>
            <td>Date</td>
        </tr>
        {% for t in transcriptions %}
        <tr>
            <td>{{t.collection_name}}</td>
            <td><a href="/transcribe/{{t.collection_name}}/asset/{{t.asset.slug}}">{{t.asset.slug}}</a></td>
            <td>{{ t.updated_on|date:'Y-m-d H:i' }}</td>
        </tr>
        {% endfor %} {% endif %}
    </table>
</div>
{% endblock main_content %}

{% block body_scripts %}
<script>
$(".password-section").hide();
$("#toggle_password_section").click(function(e) {

    e.preventDefault()
    if ($(".password-section").css('display') == 'none') {
        $(".password-section").show();
        $(this).hide();
        $('.edit .d-none').removeClass('d-none')
    } else {
        $(".password-section").hide();
        $('.edit .d-none').removeClass('d-none')
    }
})

document.getElementById('toggle_edit_section').onclick = function() {
    $('.form-control-plaintext').addClass('form-control').removeClass('form-control-plaintext')
    $('.edit .d-none').removeClass('d-none')
    document.getElementById('id_first_name').removeAttribute('readonly');
    document.getElementById('id_username').removeAttribute('readonly');
    document.getElementById('id_email').removeAttribute('readonly');

};

$('#myfile').change(function() {
    $('.edit .d-none').removeClass('d-none')
}); 
{% if form.errors %}
$("#toggle_edit_section").click() 
{% endif %}

</script>
{% endblock body_scripts %}
