{% extends "base.html" %}
 {% load staticfiles %}
{% block title %}User Profile Page{% endblock title %}
{% block head_content %}
<style type="text/css">
.img-circle {
    border-radius: 60%;
    width: 160px;
    height: 160px;
}

.form-control {
    border-radius: 8px !important;
}

.change-password,
.change-password:hover {
    background: #5f656b;
    color: #fff;
}

.m-top-5 {
    margin-top: 5px;
}

</style>
<style type="text/css">
.profile_edit {
    color: #a3a3a3;
    cursor: pointer;
    font-size: 21px;
}

.profile_edit:hover {
    color: #23527c;
}

body {
    background: #ccc;
}

.container {
    margin: 20px auto;
    /* center the page */
    width: 80em;
}

.inut-group input {
    border: 0;
}

.remove_button_css:focus,
.remove_button_css:hover {
    color: #23527c;
    text-decoration: underline;
}

</style>
{% endblock head_content %}

{% block main_content %}
<div class="bootstrap snippet">
    {% if messages %}
    {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} alert-dismissable col-md-10 mx-auto rounded">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&#215;</button>
        {{ message }}
    </div>
</div>
    {% endfor %}
    {% endif %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-10 bg-offwhite mx-auto my-default pxy-default rounded">
            <form class="form-horizontal" action="/account/profile/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <span>{{ form.non_field_errors }}</span>
                <div class="row">
                    <div class="col text-center">
                                <img src="{% static "img/default_profile.png" %}" alt="profile image" class="">
                    </div>
                    <div class="col-lg-8">
                        <div class="form-group row">
                            <label class="secondary-text" for="{{form.username.id_for_label}}">Username</label>
                            <input id="{{form.username.id_for_label}}" name="{{form.username.html_name}}" value="{{form.username.value}}" type="text" class="form-control form-control-plaintext" readonly="readonly">
                                <span>{{ form.username.errors }}</span>
                        </div>
                        <div class="form-group row">
                            <label class="secondary-text" for="{{form.email.id_for_label}}">Email</label>
                            <input id="{{form.email.id_for_label}}" name="{{form.email.html_name}}" type="text" value="{{ form.email.value }}" class="form-control form-control-plaintext" readonly="readonly">
                        </div>
                        <div class="password-section">
                            <div class="form-group row">
                                <label class="secondary-text" for="{{form.password1.id_for_label}}">Password</label>
                                <input id="{{form.password1.id_for_label}}" name="{{form.password1.html_name}}" type="password" class="form-control">
                            </div>
                            <div class="form-group row">
                                <label class="" for="{{form.password2.id_for_label}}">Re-enter Password</label>
                                <input id="{{form.password2.id_for_label}}" name="{{form.password2.html_name}}" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn change-password text-uppercase" id="toggle_password_section"> change password</button>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-md-offset-2 input-group edit">
                                <div class="row">
                                    <div class="col-md-10 d-flex justify-content-between">
                                        <a href="{{request.path}}" class="d-none btn btn-default">Cancel</a>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="d-none btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-10 bg-offwhite mx-auto my-default pxy-default rounded">
            <h3>My Contributions</h3> {% if transcriptions %}
            <table class="table">
                <tr>
                    <td>Collection</td>
                    <td>Asset Name</td>
                    <td>Current Status</td>
                    <td>Date</td>
                </tr>
                {% for t in transcriptions %}
                <tr>
                    <td>{{t.collection_name}}</td>
                    <td><a href="/transcribe/{{t.collection_name}}/asset/{{t.asset.slug}}">{{t.asset.slug}}</a></td>
                    <td>{{t.asset.status}}</td>
                    <td>{{ t.updated_on|date:'Y-m-d H:i' }}</td>
                </tr>
                {% endfor %} {% endif %}
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
<script>
$(".password-section").hide();
$("#toggle_password_section").click(function(e) {

    e.preventDefault()
    if ($(".password-section").css('display') == 'none') {
        $(".password-section").show();
        $(this).hide();
        $('.edit .d-none').removeClass('d-none')
    } else {
        $(".password-section").hide();
        $('.edit .d-none').removeClass('d-none')
    }
})

document.getElementById('toggle_edit_section').onclick = function() {
    $('.form-control-plaintext').addClass('form-control').removeClass('form-control-plaintext')
    $('.edit .d-none').removeClass('d-none')
    document.getElementById('id_first_name').removeAttribute('readonly');
    document.getElementById('id_username').removeAttribute('readonly');
    document.getElementById('id_email').removeAttribute('readonly');

};

$('#myfile').change(function() {
    $('.edit .d-none').removeClass('d-none')
});
{% if form.errors %}
$("#toggle_edit_section").click()
{% endif %}

</script>
{% endblock body_scripts %}
