{% extends "base.html" %}

{% block title %}{{ title }}{% endblock title %}

{% block breadcrumbs %}
    {% if parent_page_url and parent_page_title %}
        <li class="breadcrumb-item"><a class="primary-text" href="{{ parent_page_url }}">{{ parent_page_title }}</a></li>
    {% endif %}
    {% if breadcrumb %}
        <li class="breadcrumb-item active">{{ breadcrumb }}</li>
    {% else %}
        <li class="breadcrumb-item active">{{ PATH_LEVEL_1|title }}</li>
    {% endif %}
{% endblock breadcrumbs %}

{% block main_content %}
<div class="container-fluid py-default">
    <div class="row">
        <div class="col-md-10 mx-auto bg-offwhite rounded">
            <div class="mxy-default">
                <h1 class="mb-default">{{ title }}</h1>

                <div>
                    {{ body|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
