{% load custom_math %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Activate your Library of Congress account</title>
  </head>
  <body>
    <p>Thank you for registering as a Library of Congress transcription volunteer with By the People!</p>

    <p>To activate your account, verify your email address in the next {{ expiration_days }} days by clicking the link below:</p>

    <p><a href="https://{{ site }}{% url 'django_registration_activate' activation_key %}">Activate your account</a></p>

    <p>Once your email is verified, your account will be active! As a registered user you can complete pages by reviewing other volunteers' transcriptions, see a history of your activity on your account profile page, and use the OCR tool.</p>

    <p>Check out our <a href="https://crowd.loc.gov/get-started/">Get Started guide</a>.</p>

    <p>Happy transcribing!<br>
      The By the People team</p>
  </body>
</html>
