{% extends "base.html" %}

{% load bootstrap4 %}

{% block title %}Make Your Mark Registration{% endblock title %}

{% block main_content %}
<div class="container-fluid">
    <div id="registration-form-container" class="row flex-md-row justify-content-center">
        <div class="col-md-6 p-3">
            <p>
                Create an account to be able to track your work, add tags
                and review transcriptions. Please provide a username, your
                email address and a strong password.
            </p>
            <hr />
            <p>
                Why do we need your email? Your email address gives us the
                ability to support you. Community managers are here to help
                with account administration like changes to your profile,
                troubleshooting any issues with contributing to a
                transcription, or to answer general questions. You have the
                additional option to receive email updates by opting to
                subscribe. We will never share your information with other
                institutions or individuals.
            </p>
            <hr />
            <p>
                Once you click register, we will send you a link to confirm
                your email address.
            </p>
        </div>
        <div class="col-md-6 p-3">
            <h2 class="mt-0 text-center">Make Your Mark</h2>
            <h3 class="mb-default text-center">Registration</h3>
            <form method="post" id="registration-form" class="form-register">
                {% csrf_token %}

                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>
                {% endbuttons %}
            </form>

            <div class="d-flex col mx-auto justify-content-center pt-3">
                <a href="{% url 'login' %}" class="text-center blue-text">I already have an account</a>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block body_scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-captcha-refresh").click(function (e) {
            e.preventDefault();
            $.getJSON("{% url 'captcha-refresh' %}", function (result) {
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
            });
        });

        {% comment %}
        FIXME: implement this!
         <div class="form-text text-muted mx-2" id="password_req">
            Password Requirements:
            <ul id="req1" class="nocheckmark"><i class="far fa-square mr-2"></i>At least 8 characters long</ul>
            <ul id="req2" class="nocheckmark"><i class="far fa-square mr-2"></i>1 or more unique uppercase characters</ul>
            <ul id="req3" class="nocheckmark"><i class="far fa-square mr-2"></i>1 or more unique digits</ul>
            <ul id="req4" class="nocheckmark"><i class="far fa-square mr-2"></i>1 or more non-unique special characters</ul>
        </div> {% endcomment %}


        $("form input[name='password1']").on('keyup change blur keypress', function () {
            var input_value = $('#id_password1').val();
            var upperCase = new RegExp('[A-Z]');
            var numbers = new RegExp('[0-9]');
            var special = new RegExp('[!@#$%^&*(),.?":{}|<>;\'/~_+`=\\\\\\[\\]\\-]');

            if (input_value.length >= 8) {
                $('#req1').removeClass("nocheckmark");
                $('#req1 i').removeClass("far fa-square");
                $('#req1').addClass("checkmark");
                $('#req1 i').addClass("fas fa-check-square");
            } else {
                $('#req1').removeClass("checkmark");
                $('#req1 i').removeClass("fas fa-check-square");
                $('#req1').addClass("nocheckmark");
                $('#req1 i').addClass("far fa-square");
            }

            if (input_value.match(upperCase)) {
                $('#req2').removeClass("nocheckmark");
                $('#req2 i').removeClass("far fa-square");
                $('#req2').addClass("checkmark");
                $('#req2 i').addClass("fas fa-check-square");
            } else {
                $('#req2').removeClass("checkmark");
                $('#req2 i').removeClass("fas fa-check-square");
                $('#req2').addClass("nocheckmark");
                $('#req2 i').addClass("far fa-square");
            }

            if (input_value.match(numbers)) {
                $('#req3').removeClass("nocheckmark");
                $('#req3 i').removeClass("far fa-square");
                $('#req3').addClass("checkmark");
                $('#req3 i').addClass("fas fa-check-square");
            } else {
                $('#req3').removeClass("checkmark");
                $('#req3 i').removeClass("fas fa-check-square");
                $('#req3').addClass("nocheckmark");
                $('#req3 i').addClass("far fa-square");
            }

            if (input_value.match(special)) {
                $('#req4').removeClass("nocheckmark");
                $('#req4 i').removeClass("far fa-square");
                $('#req4').addClass("checkmark");
                $('#req4 i').addClass("fas fa-check-square");
            } else {
                $('#req4').removeClass("checkmark");
                $('#req4 i').removeClass("fas fa-check-square");
                $('#req4').addClass("nocheckmark");
                $('#req4 i').addClass("far fa-square");
            }

        });
    });
</script>
{% endblock body_scripts %}
