{% if user.is_authenticated and user.is_staff %}
    <div class="mt-4">
        <input name="radioButtons" type="radio" id="show-all" {% if do_filter %}onclick="filterAssets(false, '{{ all_url }}?{{ sublevel_qs }}')"{% else %}checked{% endif %}>
        <label>Show all</label>
        <input name="radioButtons" type="radio" id="filter-assets" {% if do_filter %}checked{% else %}onclick="filterAssets(true, '{{ filtered_url }}?{{ sublevel_qs }}')"{% endif %}>
        <label>Show only reviewable by me</label>
    </div>
{% endif %}
