{% if user.is_authenticated %}
    <div>
        <input name="radioButtons" type="radio" id="show-all" {% if not do_filter %}checked{% endif %} data-url="{{ all_url}}{% if sublevel_qs %}?{{ sublevel_qs }}{% endif %}">
        <label for="show-all">Show all</label>
        <input name="radioButtons" type="radio" id="filter-assets" {% if do_filter %}checked{% endif %} class="ml-1" data-url="{{ filtered_url}}{% if sublevel_qs %}?{{ sublevel_qs }}{% endif %}">
        <label for="filter-assets">Show pages I can review</label>
    </div>
{% endif %}
