{% load static %}

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'js-cookie/dist/js.cookie.js' %}"></script>
<script src="{% static '@popperjs/core/dist/esm/popper.js' %}" type="module"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.esm.js' %}" type="module"></script>
<script src="{% static 'screenfull/dist/screenfull.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'chart.js/dist/chart.umd.js' %}"></script>
