{% load group_list %}
<h3>Featured blog posts</h3>
<div id="blog-carousel" class="carousel">
    <div class="carouse-inner">
        {% for chunk in blog_posts|slice:":3"|batch:3 %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="row mx-auto blog-chunk">
                    {% for post in chunk %}
                        <div class="col-md-4">
                            <div class="h-100">
                                <div class="card-body">
                                    <a href="{{ post.link }}">
                                        <img alt="" width="197" height="132" style="opacity: 1;" src="">
                                        <h5>
                                            {{ post.title }}
                                        </h5>
                                    </a>
                                    <p class="card-text">
                                        {{ post.description|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <div class="carousel-indicators">
        {% for _ in blog_posts %}
            <button type="button" data-bs-target="blog-carousel" {% if forloop.first %}active{% endif %}>
            </button>
        {% endfor %}
    </div>
    <button class="carousel-control-next" type="button" data-bs-target="" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="text-center">
    <a class="btn btn-primary text-decoration-none" href="https://blogs.loc.gov/thesignal/category/by-the-people-transcription-program/" target="_blank">Read more</a>
</div>
