{% load static %}
<script type="importmap">
    {
        "imports": {
            "@popperjs/core": "{% static '@popperjs/core/dist/esm/popper.js' %}",
            "bootstrap": "{% static 'bootstrap/dist/js/bootstrap.esm.js' %}",
            "chart.js" : "{% static 'chart.js/dist/chart.js' %}",
            "chart.js/auto": "{% static 'chart.js/auto/auto.js' %}",
            "@kurkle/color": "{% static '@kurkle/color/dist/color.esm.js' %}",
            "concordia-visualization": "{% static 'js/modules/concordia-visualization.js' %}",
            "visualization-errors" : "{% static 'js/modules/visualization-errors.js' %}"
        }
    }
</script>
