{% for asset in object_list %}
    <tr class="{{ asset.item.project.campaign.id }} recent-page">
        <td class="col-md-3"><abbr title="{{ asset.latest_activity|date:'SHORT_DATE_FORMAT' }}">{{ asset.latest_activity }}</abbr></td>
        <td><a href="{{ asset.item.get_absolute_url }}">{{ asset.item.title }}</a></td>
        <td class="text-right"><a href="{{ asset.get_absolute_url }}">{{ asset.sequence }}</a></td>
        <td>{{ asset.last_interaction_type.title }}</td>
        <td>{{ asset.get_transcription_status_display }}</td>
    </tr>
{% endfor %}
