<div class="concordia-share-button-group btn-group btn-group-sm" role="navigation" aria-label="Links to share this page">
    <a class="btn btn-default facebook-share-button" target="_blank" role="button" title="Share this page on Facebook" href="https://www.facebook.com/share.php?u={{ url|urlencode:"" }}"><span class="facebook-icon"></span></a>
    <a class="btn btn-default twitter-share-button" target="_blank" role="button" title="Share this page on Twitter" href="https://twitter.com/intent/tweet?text={% filter urlencode %}”{{ title }}” {{ url }} #ByThePeople @Crowd_LOC{% endfilter %}&amp;source=webclient"><span class="twitter-icon"></span></a>
    <a class="btn btn-default copy-url-button" target="_blank" role="button" data-toggle="tooltip" data-trigger="manual" data-placement="bottom" aria-label="Copy this link to your clipboard" href="{{ url }}"><span class="fas fa-link text-white"></span></a>
</div>
